.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="user") Users
        li.active
            span Detail
            span.name {{vm.data.title}}
.content#user
    div
        .row
            .col-md-3
                .form-group.photo.text-center
                    img.img-thumbnail(ng-show="vm.data.cover",src="{{ vm.data.cover }}",width="200px")
                    img.img-thumbnail(ng-show="!vm.data.cover",src="/assets/images/default/default-avatar.jpg",width="200px")
                    hr
                    // select#field-type.form-control(placeholder="status",ng-model="vm.data.user.status")
                        option(ng-repeat="ty in vm.info.enumStatus") {{ ty }}
                    // hr
                    // button.btn.btn-xs.btn-primary(ng-click="vm.updateReliability(vm.data.user.status)") save

            .col-md-9

                .form-group
                    h1 {{ vm.data.name.first }} {{ vm.data.name.last }}

                .form-group
                    label Email
                    .form-control-static {{ vm.data.user.email }}
                    //button.btn.btn-danger(ng-show="!vm.resendEnd",ng-click="vm.resendUserToken()") Send token
                .form-group
                    label Username
                    .form-control-static {{ vm.data.user.userName }}

                // .form-group
                    label Birthdate
                    .form-control-static {{ vm.data.birthDate | date:"dd-MM-yyyy"  }}
                // .form-group
                    label Gender
                    .form-control-static {{ vm.data.gender }}
                //.form-group
                    label Phones
                    .form-control-static(ng-repeat="(key, value) in vm.data.phone") {{ key }}: {{ value | json }}
                // .form-group
                    label Newsletter
                    p(ng-show="vm.data.newsletter['generica']") Generica
                    p(ng-show="vm.data.newsletter['test']") Test
                // .form-group
                    label Accepted
                    p.form-control-static(ng-repeat="(key, value) in vm.data.accepted")
                        span.statusBool.glyphicon.glyphicon-ok(ng-show="value")
                        span.statusBool.glyphicon.glyphicon-remove(ng-show="!value")
                        span {{ key }}
                .form-group
                    // button.btn.btn-lg.btn-danger(ng-show="!vm.removeStart",ng-click="vm.removeUser()") Cancella utente
                    hr
                    .form-group(ng-show="vm.removeStart")
                        label Scrivi la parola confermo per cancellare questo account !!!
                        input.form-control(ng-model="vm.confirmDelete")
                    .form-group
                        button.btn.btn-xs.btn-danger(ng-show="vm.confirmDelete == 'confermo'",ng-click="vm.removeUserConfirm()") Conferma Cancella utente

            .col-md-3
                .b &nbsp;

            .col-md-9
                .row
                    .col-md-12(ng-show="vm.listCandidate.length")
                        fieldset(ng-repeat="item in vm.listCandidate")
                            .row
                                .col-md-6
                                    h2 {{item.campaign.title}}
                                .col-md-2
                                    button.btn.btn-primary(ng-show="item.form.length",ng-click="item.showCampaign=!item.showCampaign") Show Form
                                .col-md-4.text-right
                                    //div(ng-show="vm.now >= item.campaign.dates.endCandidations")
                                        div(ng-hide='item.active || item.rejected')
                                            button.btn.btn.btn-success(ng-click="vm.updateCandidate(item._id, item, item.campaign._id, true, false)") accept
                                            button.btn.btn.btn-danger(ng-click="vm.updateCandidate(item._id, item, item.campaign._id, false, true)") reject

                                    button.btn.btn(ng-class="{ 'btn-success': item.preconfirmed, 'btn-default': !item.preconfirmed  }",ng-click="vm.changePreconfirm(item)") Preconfirmed
                                    button.btn.btn.btn-success(disabled="disabled",ng-show='item.active') Accepted
                                    button.btn.btn.btn-danger(disabled="disabled",ng-show='item.rejected') Rejected

                            .row.spaceTop(ng-show="item.showCampaign")
                                .col-md-12
                                    .row(ng-repeat="(k,v) in item.dates")
                                        .col-md-4
                                            label {{k}}
                                        .col-md-8 {{ v | date:"dd-MM-yyyy hh:mm" }}
                                .col-md-12(ng-show="item.ship")
                                    .row(style="padding-bottom:10px")
                                        .col-md-4 TRACKING NUMBER: {{ item.ship.number }}
                                        .col-md-4 TRACKING INFO: {{ item.ship.info }}
                                        .col-md-4
                                            a( href="{{ item.ship.url }}") TRACKING URL
                                .col-md-12
                                    .form-group(ng-show="item.form.length")
                                        fieldset(ng-repeat="form in item.form")
                                            .prevalid(ng-show="form.formType == 'campaign' ")
                                                .label(ng-class="{'label-success':form.prevalid,'label-danger':!form.prevalid}")
                                                    span(ng-show="form.prevalid") Requisiti SI
                                                    span(ng-show="!form.prevalid") Requisiti NO
                                            h2 {{form.name}}
                                            div(ng-repeat="value in form.values")
                                                label {{value.name}}
                                                .form-group(ng-switch="value.type")
                                                    div(ng-switch-when="input")
                                                        span {{value.value}}
                                                    div(ng-switch-when="radio")
                                                        span {{value.value}}
                                                    div(ng-switch-when="cap")
                                                        span {{value.value.citta}}
                                                        span {{value.value.provincia}}
                                                        span {{value.value.cap}}
                                                    div(ng-switch-when="checkbox")
                                                        div(ng-repeat="(k,c) in value.value")
                                                            span.statusBool.glyphicon.glyphicon-ok(ng-show="c")
                                                            span.statusBool.glyphicon.glyphicon-remove(ng-show="!c")
                                                            span {{value.info[k] }}
                                                    div.ranges(ng-switch-when="ranges")
                                                        table.table
                                                            tr(ng-repeat="(k,v) in value.value")
                                                                td(ng-if="v.value > 0")  {{ v.right }}
                                                                td(ng-if="v.value > 0")  {{ v.value }}

                                                                td(ng-if="v.value < 0")  {{ v.left }}
                                                                td(ng-if="v.value < 0")  {{ (v.value*-1) }}

                                                                td(ng-if="v.value == 0") {{ v.right }} / {{ v.left }}
                                                                td(ng-if="v.value == 0")  Neutro
                                                    div.ranges(ng-switch-when="ranges-type2")
                                                        table.table
                                                            tr(ng-repeat="(k,v) in value.value")
                                                                td {{ v.left }}
                                                                td(ng-if="v.value > 0")  {{ v.right }}
                                                                td(ng-if="v.value > 0")  {{ v.value }}

                                                                td(ng-if="v.value < 0")  {{ v.left }}
                                                                td(ng-if="v.value < 0")  {{ (v.value*-1) }}

                                                                td(ng-if="v.value == 0") {{ v.right }} / {{ v.left }}
                                                                td(ng-if="v.value == 0")  Neutro

                .row
                    .col-md-12
                        .form-group(ng-show="vm.data.shippingData.length")
                            fieldset(ng-repeat="form in vm.data.shippingData")
                                h2 {{form.name}}
                                .row(ng-repeat="value in form.values",ng-switch="value.type")
                                    .col-md-6
                                        label {{value.name}}
                                    .col-md-6
                                        div(ng-switch-when="cap")
                                            span {{value.value.citta}} {{value.value.provincia}} {{value.value.cap}}
                                        div(ng-switch-default)    {{ value.value}}

                .row
                    .col-md-12
                        .form-group(ng-show="vm.data.registrationData.length")
                            fieldset(ng-repeat="form in vm.data.registrationData")
                                h2 {{form.name}}
                                div(ng-repeat="value in form.values")
                                    label {{value.name}}
                                    .form-group(ng-switch="value.type")
                                        div(ng-switch-when="input")
                                            span {{value.value}}
                                        div(ng-switch-when="radio")
                                            span {{value.value}}
                                        div(ng-switch-when="cap")
                                            span {{value.value.cap}}
                                        div(ng-switch-when="checkbox")
                                            div(ng-repeat="(k,c) in value.value")
                                                span.statusBool.glyphicon.glyphicon-ok(ng-show="c")
                                                //span.statusBool.glyphicon.glyphicon-remove(ng-show="!c")
                                                span(ng-show="c") {{ value.info[k] }}
                                        div.ranges(ng-switch-when="ranges")
                                            table.table
                                                tr(ng-repeat="(k,v) in value.value")
                                                    td(ng-if="v.value > 0")  {{ v.right }}
                                                    td(ng-if="v.value > 0")  {{ v.value }}

                                                    td(ng-if="v.value < 0")  {{ v.left }}
                                                    td(ng-if="v.value < 0")  {{ (v.value*-1) }}

                                                    td(ng-if="v.value == 0") {{ v.right }} / {{ v.left }}
                                                    td(ng-if="v.value == 0")  Neutro


