.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="user") User
        li.active
            span List
    .actions
        .row
            .col-md-3
                input.form-control(type="search",placeholder="Email",ng-model="vm.searchField.email")
            .col-md-3
                input.form-control(type="search",placeholder="First name",ng-model="vm.searchField.first")
            .col-md-3
                input.form-control(type="search",placeholder="Last name",ng-model="vm.searchField.last")
            .col-md-1.text-right
                button.btn.btn-md.btn-primary(ng-click="vm.search()") Search
.content.list
    table.table
        thead
            th
            th Email
            th First name
            th Last name
            th Birth date
            th Registration Date
        tbody
            tr(ng-show="vm.listType == 'profile'", ng-repeat="item in vm.data",ui-sref="user.detail({id: item._id })")
                include table.jade
            tr(ng-show="vm.listType == 'user'", ng-repeat="item in vm.dataUser",ui-sref="user.detail({id: item.profile })")
                include tableUser.jade

paging.paging(page="vm.page",page-size="vm.limit",total="vm.total", paging-action="vm.search(page)")