.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="form") Form
        li.active
            span Dettaglio
            span.name {{vm.data.title}}
    .actions
        button.btn.btn-md.btn-info(type="button",ng-show="vm.data._id", ng-click="vm.preview()") Anteprima
        button.btn.btn-sm.btn-warning(type="button",ng-show="vm.data._id",ng-click="vm.clone(vm.data)") Clona
        button.btn.btn-sm.btn-danger(type="button",ng-show="vm.data._id", ng-click="vm.delete(vm.data._id)") Cancella
        button.btn.btn-sm.btn-primary(type="button",ng-click="vm.validate()") Salva
.content

    form#form(ng-init="vm.data.formType='campaign'")
        .row
            .col-md-6
                .form-group
                    label Titolo *
                    input#field-title.form-control(placeholder="title",ng-model="vm.data.title")
            .col-md-6
                .form-group
                    //label Tipo di form *
                    input.form-control(type="hidden",placeholder="type",ng-model="vm.data.formType")
        .row

        hr
        .row
            .col-md-12
                fieldset.fieldRow(ng-repeat="field in vm.data.fields" ng-init="indexField = $index")
                    button.removeField.btn.btn-xs.btn-danger(type="button",ng-click="vm.removeField( field )") cancella
                    button.showField.btn.btn-xs.btn-primary(ng-click="opened[$index] = !opened[$index]") mostra/nascondi

                    div(ng-hide="opened[$index]")
                        h6 {{ field.info.title }} {{ field.name }} ordine: {{ field.order }}
                    div(ng-show="opened[$index]")
                        .row(ng-init="vm.info( field )")
                            .col-md-12
                                fieldset.internal
                                    .col-md-6
                                        .form-group
                                            label Info titolo
                                            input.form-control(placeholder="campo titolo",ng-model="field.info.title")
                                    .col-md-6
                                        .form-group
                                            label Info abstract
                                            input.form-control(placeholder="campo abstract",ng-model="field.info.abstract")
                                    .col-md-6
                                        .form-group
                                            label Url titolo
                                            input.form-control(placeholder="link titolo",ng-model="field.info.linkname")
                                    .col-md-6
                                        .form-group
                                            label Url link
                                            input.form-control(placeholder="link url",ng-model="field.info.linkurl")


                        .row(ng-init="field.identifier = vm.setIdentifier(field) ")
                            .col-md-12
                                .col-md-4
                                    .form-group
                                        label Nome *
                                        input.form-control(placeholder="nome",ng-model="field.name")
                                .col-md-3
                                    .form-group
                                        label Tipo *
                                        select.form-control(placeholder="tipo",ng-model="field.type")
                                            option(ng-repeat="ty in vm.types") {{ ty }}
                                .col-md-1
                                    .form-group
                                        label Ordine *
                                        input.form-control(type="numeric",placeholder="ordine",ng-model="field.order")
                                .col-md-1
                                    .form-group
                                        label Step
                                        select.form-control(placeholder="step",ng-model="field.step")
                                            option(ng-selected=" field.step=='1' || field.step=='' ") 1
                                            option 2
                                            option 3
                                            option 4
                                            option 5
                                            option 6
                                .col-md-1
                                    .form-group(ng-hide="field.type=='ranges' ")
                                        label Richiesto
                                        input.form-control(type="checkbox",ng-model="field.requiredField", ng-click="vm.setFieldRequired(field)")
                                //.col-md-1
                                //    .form-group(ng-hide="field.type!='radio' ")
                                //        label Assegnaprodotto
                                //        input.form-control(type="checkbox",ng-model="field.assignProduct")

                            .col-md-12
                                .col-md-4(ng-show="vm.data.formType=='survey'")
                                    .form-group
                                        label Dipende da
                                        select.form-control( placeholder="dipende da", ng-model="field.depends" )
                                            option( ng-value=" " ) -
                                            optgroup(ng-repeat="ff in vm.data.fields", label="{{ ff.name }}", ng-if="ff.type=='radio'" )
                                                option( ng-repeat="fv in ff.value", value="{{ ff.identifier }}:{{ fv.identifier }}" ) {{ ff.name }} | {{ fv.name }}


                            .col-md-12
                                .col-md-12
                                    .form-group
                                        label Descrizione
                                        textarea.form-control(rows="2",placeholder="descrizione",ng-model="field.description")


                        .row(ng-show=" field.type == 'multiradio' ")
                            .col-md-12
                                div(ng-repeat="radiovalue in field.radiovalue")
                                    .row(ng-init="radiovalue.identifier = vm.setIdentifier(radiovalue) ")
                                        .col-md-1
                                            //.form-group
                                            //    input.form-control(type="number",placeholder="1",ng-model="radiovalue.pos")
                                        .col-md-5
                                            .form-group
                                                input.form-control(placeholder="descrizione",ng-model="radiovalue.name")
                                        .col-md-1
                                            .form-group
                                                input.form-control(placeholder="valore",ng-model="radiovalue.one")
                                        .col-md-1
                                            .form-group
                                                input.form-control(placeholder="valore",ng-model="radiovalue.two")
                                        .col-md-1
                                            .form-group
                                                input.form-control(placeholder="valore",ng-model="radiovalue.three")
                                        .col-md-1
                                            .form-group
                                                input.form-control(placeholder="valore",ng-model="radiovalue.four")
                                        .col-md-1
                                            button.btn.btn-xs.btn-danger(ng-click="vm.removeRadiovalue( field, radiovalue )") x

                            .row
                                .col-md-11.col-md-offset-1
                                    button.btn.btn-xs.btn-primary(type="button",ng-click="vm.addRadiovalue(field)") aggiungi risposta




                        .row(ng-hide=" field.type=='cap' || field.type=='onlydescription' || field.type=='textarea' ")
                            .col-md-12
                                .row(ng-show="field.value.length")
                                    .col-md-1
                                    .col-md-4(ng-if="field.type != 'ranges' ")
                                        .form-group VALORE
                                    .col-md-3(ng-if="field.type=='radio' && field.assignProduct")
                                        .form-group PRODOTTO
                                    .col-md-1(ng-if="field.type=='radio'")
                                        .form-group RICHIESTO
                                    .col-md-1(ng-if="field.type=='checkbox' || field.type=='radio' ")
                                        .form-group VALIDO
                                    .col-md-3(ng-if="field.type=='ranges'")
                                        .form-group SINISTRA
                                    .col-md-3(ng-if="field.type=='ranges'")
                                        .form-group DESTRA
                                    .col-md-1
                                div(ng-repeat="value in field.value")
                                    .row(ng-init="value.identifier = vm.setIdentifier(value) ")
                                            .col-md-1
                                            .col-md-4(ng-if="field.type!='ranges' ")
                                                .form-group
                                                    input.form-control(placeholder="testo *",ng-model="value.name")
                                            .col-md-3(ng-show="field.assignProduct",ng-if="field.type=='radio'")
                                                .form-group
                                                    select.form-control(ng-model="value.product" )
                                                        option( ng-value=" " ) -
                                                        option(ng-repeat="product in vm.data.products", value="{{product.name}}" ) {{product.name}}
                                            .col-md-1(ng-if="field.type=='radio'")
                                                .form-group
                                                    input(type="checkbox", ng-model="value.permitted", ng-show="field.type=='radio'" )
                                            .col-md-1(ng-if="field.type=='checkbox' || field.type=='radio' ")
                                                .form-group
                                                    input(type="checkbox", ng-model="value.valid", ng-show="field.type=='checkbox' || field.type=='radio' "  )
                                            .col-md-3(ng-if="field.type=='ranges' ")
                                                .form-group
                                                    input.form-control(placeholder="left",ng-model="value.left")
                                            .col-md-3(ng-if="field.type=='ranges' ")
                                                .form-group
                                                    input.form-control(placeholder="right",ng-model="value.right")
                                            .col-md-1
                                                button.btn.btn-xs.btn-danger(ng-click="vm.removeValue( field, value )") x


                        .row
                            .col-md-11.col-md-offset-1
                                button.btn.btn-xs.btn-primary(type="button",ng-click="vm.addValue(field)",ng-show="field.type=='select'|| field.type=='radio' || field.type=='checkbox' || field.type=='ranges'  || field.type=='ranges-type2' ") aggiungi risposta


                        .row.altro-box
                            .col-md-11.col-md-offset-1
                                div(ng-show=" field.type=='radio' || field.type=='checkbox'")
                                    .row.abilita-altro
                                        .col-md-4
                                            label abilita campo altro e aggiungi label
                                        .col-md-1
                                            .form-group
                                                input(type="checkbox",ng-model="field.altro")
                                    .row.abilita-altro(ng-if="field.altro==true")
                                        .col-md-4
                                            .form-group
                                                input.form-control(type="text",placeholder="Label Altro",ng-model="field.altroLabel")
                                        .col-md-1



                button.btn.btn-md.btn-primary(type="button",ng-click="vm.addField()") aggiungi domanda
