.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="form") Form
        li.active
            span LIST
    .actions
        .row
            .col-md-10
                input.form-control(type="search",placeholder="search",ng-model="vm.search")
            .col-md-2.text-right
                button.btn.btn-md.btn-primary(ui-sref="form.create") Create
.content
    //table.table
    //    thead
    //        th Default
    //    tbody
    //        tr(ng-if="item.formType=='registration' || item.formType=='shipping'",ng-repeat="item in vm.data | filter: {title:vm.search}",ui-sref="form.detail({id: item._id })")
    //            td {{item.title}}
    //            td.text-right
    //                span.glyphicon.glyphicon-menu-right
    //p
    table.table
        thead
            th Campaign
        tbody
            tr(ng-if="item.formType=='campaign'",ng-repeat="item in vm.data | filter: {title:vm.search}",ui-sref="form.detail({id: item._id })")
                td {{item.title}}
                td.text-right
                    span.glyphicon.glyphicon-menu-right
    //p
    //table.table
    //    thead
    //        th Survey
    //    tbody
    //        tr(ng-if="item.formType=='survey'",ng-repeat="item in vm.data | filter: {title:vm.search}",ui-sref="form.detail({id: item._id })")
    //            td {{item.title}}
    //            td.text-right
    //                span.glyphicon.glyphicon-menu-right