.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="form") Form
        li.active
            span Preview

.content
    .profilation-content(ng-init="pc.init()")
        form#profilationForm.validate-form(name='profilationForm', novalidate='', form-on-change='pc.calculateProgress()')
            .user-profile-custom(ng-init='pc.currentStep=1', ng-show='pc.steps>1')
                .progr-bar-content
                    .intesta
                        | Form
                        strong  {{ pc.currentStep }}/{{ pc.steps }}
                    //.row
                        .col-md-12.col-sm-12.col-xs-12
                            .progress
                                .progress-bar(role='progressbar', aria-valuenow='{{pc.percent}}', aria-valuemin='0', aria-valuemax='100', style='width: {{pc.percent}}%;')
                                    span.sr-only {{pc.percent}}% Complete
            .profilation-form.field-form-profilation(ng-repeat="field in pc.data.fields | orderBy:'order' ", data-id='{{field.identifier}}', ng-switch='field.type', data-depends='{{ field.depends }}', ng-class="{ 'field-dependent' : ( field.depends && field.depends != '-' ) }", ng-show='pc.checkDependentField( field )')
                div(ng-show='field.step==pc.currentStep')
                    .heading-form(ng-show=' field.info.title || field.info.abstract')
                        h2(ng-show='field.info.title') {{ field.info.title }}
                        p(ng-show='field.info.abstract') {{ field.info.abstract  }}
                    .form-content(ng-init='pc.form.values[field.identifier].type=field.type; pc.form.values[field.identifier].name=field.name;  pc.form.values[field.identifier].ref=field.identifier; ')
                        div(ng-switch-when='input')
                            strong {{ field.name }}
                            p {{ field.description  }}
                            input.form-control(ng-required='field.requiredField == true && !pc.skipValidation[field.identifier]', type='text', placeholder='{{ field.name }}', ng-model='pc.form.values[field.identifier].value')
                        div(ng-switch-when='textarea')
                            strong {{ field.name }}
                            p {{ field.description  }}
                            textarea.form-control(ng-required='field.requiredField == true && !pc.skipValidation[field.identifier]', rows='4', placeholder='{{ field.name }}', ng-model='pc.form.values[field.identifier].value')
                        div(ng-switch-when='onlydescription')
                            strong.onlydescription-name {{ field.name }}
                            p.onlydescription-desc {{ field.description  }}
                        .box-personal-question(ng-switch-when='radio', id='{{ field.identifier }}')
                            strong {{ field.name }}
                            p {{ field.description  }}
                            .list-choose
                                label(ng-repeat='val in field.value')
                                    input(type='radio', name='{{field.identifier}}', ng-change='pc.form.values[field.identifier].refvalue=val.identifier', ng-click='pc.checkD($event)', value='{{val.name}}', data-identifier='{{val.identifier}}', data-permitted='{{val.permitted}}', data-step='{{field.step}}', ng-model='pc.form.values[field.identifier].value')
                                    | {{ val.name }}
                        .box-personal-question(ng-switch-when='checkbox', id='{{field.identifier}}')
                            strong {{ field.name }}
                            p {{ field.description  }}
                            .list-choose
                                label(ng-repeat='val in field.value')
                                    input(type='checkbox', data-identifier='{{val.identifier}}', data-permitted='{{val.permitted}}', data-step='{{field.step}}', name='{{field.identifier}}[]', value='{{val.name}}', ng-model='pc.form.values[field.identifier].value[val.identifier]')
                                    |  {{ val.name }}
                        .form-element-row(ng-switch-when='cap', id='{{field.identifier}}', ng-init='pc.carica_regioni()')
                            .row
                                .col-md-6
                                    label Regione
                                    select#regione.form-control(ng-required='true', name='regione', ng-model='pc.form.values[field.identifier].value.regione', ng-change='pc.carica_province();')
                                .col-md-6
                                    label Provincia
                                    select#provincia.form-control(ng-required='true', name='provincia', ng-model='pc.form.values[field.identifier].value.provincia', ng-change='pc.carica_citta();')
                                .col-md-6
                                    label Città
                                    select.form-control(ng-required='true', name='città', id='città', ng-model='pc.form.values[field.identifier].value.citta', ng-change='pc.carica_cap();')
                                .col-md-6
                                    label CAP
                                    select#cap.form-control(ng-required='true', name='cap', ng-model='pc.form.values[field.identifier].value.cap')
                        .form-element-row(ng-switch-when='ranges', id='{{field.identifier}}')
                            .row(ng-repeat='fd in field.value', ng-init='pc.form.values[field.identifier].value = {}')
                                .range-row.clearfix
                                    .col-md-6.lft-label {{ fd.left }}
                                    .col-md-6.rgt-label {{ fd.right }}
                                    .col-md-12
                                        input(type='range', ng-required='field.requiredField == true && !pc.skipValidation[field.identifier]', min='-10', max='10', ng-init='pc.form.values[field.identifier].value[fd.identifier].left=fd.left; pc.form.values[field.identifier].value[fd.identifier].right=fd.right;', ng-model='pc.form.values[field.identifier].value[fd.identifier].value')
                                    .col-md-12.text-center.mid-separator
                                        span |
                                        br
                                        span(ng-show='!pc.form.values[field.identifier].value[fd.identifier].value') 0
                                        span(ng-show='pc.form.values[field.identifier].value[fd.identifier].value >= 0 ')
                                            | {{ pc.form.values[field.identifier].value[fd.identifier].value || 0 }}
                                        span(ng-show='pc.form.values[field.identifier].value[fd.identifier].value < 0')
                                            | {{  ( pc.form.values[field.identifier].value[fd.identifier].value * -1) || 0 }}
                                    .col-md-6.lft-label
                                    .col-md-6.rgt-label
                                .close-group-separator(ng-show=' ($index+1)%3 == 0 ')
                        .form-element-row.surveys-form-field(ng-switch-when='ranges-type2', id='{{field.identifier}}', ng-init='pc.form.values[field.identifier].value = {}')
                            strong  {{ field.name  }}
                            .row(ng-repeat='fd in field.value')
                                .range-row.clearfix(ng-init='pc.form.values[field.identifier].value[fd.identifier].left=fd.name;')
                                    .col-md-12
                                        | {{ fd.name  }} ( {{ pc.form.values[field.identifier].value[fd.identifier].value || 1 }} )
                                    .col-md-12(ng-init='pc.form.values[field.identifier].value[fd.identifier].value ? pc.form.values[field.identifier].value[fd.identifier].value : pc.form.values[field.identifier].value[fd.identifier].value=5 ')
                                        input(type='range', data-type='ranges-survey', ng-required='field.requiredField == true && !pc.skipValidation[field.identifier]', min='1', max='10', ng-model='pc.form.values[field.identifier].value[fd.identifier].value')
                                    .col-md-6.lft-label 1
                                    .col-md-6.rgt-label 10
                                .close-group-separator(ng-show=' ($index+1)%3 == 0 ')

            .form-submit
                .clearfix
                    .col-md-6.text-left
                        a.btn.btn-default(ng-show='pc.currentStep>1', ng-click='pc.prevStep()') Indietro
                    .col-md-6.text-right
                        a.btn.btn-default(ng-show='pc.steps>pc.currentStep', ng-click='pc.nextStep()') Avanti
                        //a#BtnRegistration.btn.btn-default(data-loading-text='Attendi ...', ng-show='pc.steps==pc.currentStep', ng-click='pc.submitForm()') Fine