<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="http://www.disney-hub.it/css/production-licensee.css">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-sanitize.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    <script src="http://dev.altro/public/assets/frontend/sdk.js?v=40"></script>

</head>

<body>

    <div id="minisite-form" class="container box-center" ng-app="app">

        <div class="profilation-content" ng-controller="profilationController as pc" ng-init="pc.init('campaign')" ng-cloak ng-show="pc.form.campaign">

            <div class="heading-form main-heading-form" ng-show=" pc.dataCampaign.title || pc.dataCampaign.description">
                 <h1 ng-show="pc.dataCampaign.title" >{[{ pc.dataCampaign.title }]}</h1>
                <p ng-show="pc.dataCampaign.description" >{[{ pc.dataCampaign.description  }]}</p>
            </div>

            <form id="profilationForm" name="profilationForm" novalidate class="validate-form" ng-if="!pc.CompletedForm && !pc.Thanks && !pc.Dates" form-on-change="pc.calculateProgress()">

                <div class="profilation-form mini-site-form" ng-repeat="field in pc.data.fields | orderBy:'order' " ng-switch="field.type" >


                    <div ng-show="field.step==pc.currentStep">
                        <div class="heading-form secondary-heading-form" ng-show=" field.info.title || field.info.abstract" >
                            <h1 ng-show="field.info.title" >{[{ field.info.title }]} </h1>
                            <p ng-show="field.info.abstract">{[{ field.info.abstract  }]}</p>
                            <a ng-show="field.info.linkurl" href="{[{ field.info.linkurl  }]}" target="_blank" >{[{ field.info.linkname  }]}</a>
                        </div>
                        <div class="form-content" ng-init="pc.form.values[field.identifier].type=field.type; pc.form.values[field.identifier].name=field.name;  pc.form.values[field.identifier].ref=field.identifier; " >

                            <div ng-switch-when="input"  >
                                <strong>{[{ field.name }]}</strong>
                                <p>{[{ field.description  }]}</p>
                                <input class="form-control" ng-required="field.requiredField == true" type="text" ng-model="pc.form.values[field.identifier].value" />
                            </div>

                            <div ng-switch-when="onlydescription"  >
                                <strong class="name-onlydesc" >{[{ field.name }]}</strong>
                                <p class="desc-onlydesc" style="color: #000000; font-weight: 300;">{[{ field.description  }]}</p>
                            </div>

                            <div ng-switch-when="textarea" >
                                <strong>{[{ field.name }]}</strong>
                                <p>{[{ field.description  }]}</p>
                                <textarea class="form-control" ng-required="field.requiredField == true" rows="5" ng-model="pc.form.values[field.identifier].value" >&nbsp;</textarea>
                            </div>

                            <div class="box-personal-question" ng-switch-when="multiradio" id="{[{field.identifier}]}" >
                                <strong>{[{ field.name }]} </strong>
                                <p>{[{ field.description  }]}</p>
                                <div class="list-choose"  >

                                    <div ng-repeat="rad in field.radiovalue" >

                                        <div class="row">

                                            <div class="col-md-4">

                                                <label ng-init="pc.form.values[field.identifier].multi[rad.identifier].ref = rad.identifier; pc.form.values[field.identifier].multi[rad.identifier].name = rad.name;" >
                                                    {[{ rad.name }]}
                                                </label>

                                            </div>
                                            <div class="col-md-2">

                                            <label >
                                                <input
                                                        type="radio" name="{[{rad.identifier}]}"
                                                        data-permitted="{[{ !pc.form.values[field.identifier].multi[rad.identifier].radiovalue }]}"
                                                        value="{[{rad.one}]}"
                                                        data-identifier="{[{rad.identifier}]}"
                                                        data-step="{[{field.step}]}"
                                                        ng-model="pc.form.values[field.identifier].multi[rad.identifier].radiovalue" >{[{ rad.one }]}
                                            </label>

                                            </div>
                                            <div class="col-md-2">

                                            <label >
                                                <input
                                                        type="radio" name="{[{rad.identifier}]}"
                                                        data-permitted="{[{ !pc.form.values[field.identifier].multi[rad.identifier].radiovalue }]}"
                                                        value="{[{rad.two}]}"
                                                        data-identifier="{[{rad.identifier}]}"
                                                        data-step="{[{field.step}]}"
                                                        ng-model="pc.form.values[field.identifier].multi[rad.identifier].radiovalue" >{[{ rad.two }]}
                                            </label>

                                            </div>
                                            <div class="col-md-2">

                                            <label >
                                                <input
                                                        type="radio" name="{[{rad.identifier}]}"
                                                        data-permitted="{[{ !pc.form.values[field.identifier].multi[rad.identifier].radiovalue }]}"
                                                        value="{[{rad.three}]}"
                                                        data-identifier="{[{rad.identifier}]}"
                                                        data-step="{[{field.step}]}"
                                                        ng-model="pc.form.values[field.identifier].multi[rad.identifier].radiovalue" >{[{ rad.three }]}
                                            </label>

                                            </div>
                                            <div class="col-md-2">

                                            <label >
                                                <input
                                                        type="radio" name="{[{rad.identifier}]}"
                                                        data-permitted="{[{ !pc.form.values[field.identifier].multi[rad.identifier].radiovalue }]}"
                                                        value="{[{rad.four}]}"
                                                        data-identifier="{[{rad.identifier}]}"
                                                        data-step="{[{field.step}]}"
                                                        ng-model="pc.form.values[field.identifier].multi[rad.identifier].radiovalue" >{[{ rad.four }]}
                                            </label>

                                            </div>

                                        </div>



                                    </div>


                                </div>
                            </div>

                            <div class="box-personal-question" ng-switch-when="radio" id="{[{field.identifier}]}" >
                                <strong>{[{ field.name }]} </strong>
                                <p>{[{ field.description  }]}</p>
                                <div class="list-choose"  >
                                    <label ng-repeat="val in field.value" >
                                        <input
                                                type="radio" name="{[{field.identifier}]}"
                                                ng-change="pc.form.values[field.identifier].refvalue=val.identifier"
                                                value="{[{val.name}]}"
                                                data-identifier="{[{val.identifier}]}"
                                                data-permitted="{[{val.permitted}]}"
                                                data-step="{[{field.step}]}"
                                                ng-model="pc.form.values[field.identifier].value" >{[{ val.name }]}</label>

                                    <label ng-if="field.altro" >
                                        <input
                                                type="radio" name="{[{field.identifier}]}"
                                                ng-change="pc.form.values[field.identifier].refvalue='ALTROIDENTIFIER'"
                                                value="altro"
                                                data-identifier="ALTROIDENTIFIER"

                                                data-step="{[{field.step}]}"
                                                ng-model="pc.form.values[field.identifier].value" >{[{ field.altroLabel }]}

                                        <input ng-if="field.altro" ng-required="pc.form.values[field.identifier].refvalue == 'ALTROIDENTIFIER'"
                                               class="input-checkbox-altro" type="text"  ng-model="pc.form.values[field.identifier].altro" />

                                    </label>


                                </div>
                            </div>

                            <div class="box-personal-question" ng-switch-when="checkbox" id="{[{field.identifier}]}" >
                                <strong>{[{ field.name }]} </strong>
                                <p>{[{ field.description  }]}</p>
                                <div class="list-choose"  >
                                    <label ng-repeat="val in field.value" ng-init="pc.form.values[field.identifier].info[val.identifier] = val.name">
                                        <input type="checkbox"
                                               data-identifier="{[{val.identifier}]}"
                                               data-permitted="{[{val.permitted}]}" data-step="{[{field.step}]}"
                                               name="{[{field.identifier}]}[]"  value="{[{val.name}]}"
                                               ng-model="pc.form.values[field.identifier].value[val.identifier]" > {[{ val.name }]}</label>

                                    <label ng-if="field.altro" ng-init="pc.form.values[field.identifier].info['ALTROIDENTIFIER'] = 'altro'">
                                            <input type="checkbox"
                                                   data-identifier="ALTROIDENTIFIER"
                                                   data-step="{[{field.step}]}"
                                                   name="{[{field.identifier}]}[]"  value="altro"
                                                   ng-model="pc.form.values[field.identifier].value['ALTROIDENTIFIER']" > {[{ field.altroLabel }]}

                                        <input ng-if="field.altro" ng-required="pc.form.values[field.identifier].value['ALTROIDENTIFIER'] == true"
                                               class="input-checkbox-altro" type="text"  ng-model="pc.form.values[field.identifier].altro" />

                                    </label>

                                </div>
                            </div>

                            <div class="form-element-row" ng-switch-when="cap" id="{[{field.identifier}]}" ng-init="pc.carica_regioni()" >
                                <div class="row" >
                                    <div class="col-md-6">
                                        <label>Regione</label>
                                        <select class="form-control" ng-required="true" name="regione" id="regione" ng-model="pc.form.values[field.identifier].value.regione" ng-change="pc.carica_province();"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Provincia</label>
                                        <select class="form-control" ng-required="true" name="provincia" id="provincia" ng-model="pc.form.values[field.identifier].value.provincia"  ng-change="pc.carica_citta();"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Città</label>
                                        <select class="form-control" ng-required="true" name="città" id="città" ng-model="pc.form.values[field.identifier].value.citta"  ng-change="pc.carica_cap();"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>CAP</label>
                                        <select class="form-control" ng-required="true" name="cap" id="cap" ng-model="pc.form.values[field.identifier].value.cap" ></select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-element-row " ng-switch-when="ranges" id="{[{field.identifier}]}" >

                                <div class="row range-row" ng-repeat="fd in field.value" ng-init="pc.form.values[field.identifier].value = {}" >

                                    <div class="form-ranges-separator" ng-show=" $index%3 == 0 && $index != 0" ></div>

                                    <div class="col-md-6 lft-label" >{[{ fd.left }]}</div>
                                    <div class="col-md-6 rgt-label" >{[{ fd.right }]}</div>

                                    <div class="col-md-12" >
                                        <input type="range" ng-required="field.requiredField == true" min="{[{ fd.left }]}" max="{[{ fd.right }]}"
                                               ng-model="pc.form.values[field.identifier].value[fd.identifier].value" >
                                    </div>
                                    <div class="col-md-12 text-center mid-separator">
                                        <span>|</span>
                                        <br />
                                        <span ng-show="!pc.form.values[field.identifier].value[fd.identifier].value">0</span>
                                        <span ng-show="pc.form.values[field.identifier].value[fd.identifier].value >= 0 ">
                                                {[{ pc.form.values[field.identifier].value[fd.identifier].value || 0 }]}
                                            </span>
                                        <span ng-show="pc.form.values[field.identifier].value[fd.identifier].value < 0">
                                                {[{  ( pc.form.values[field.identifier].value[fd.identifier].value * -1) || 0 }]}
                                            </span>
                                    </div>

                                    <div class="col-md-6 lft-label" ></div>
                                    <div class="col-md-6 rgt-label" ></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-submit">
                    <div class="clearfix buttons">
                        <div class="col-md-12 text-left">
                            <a ng-show="pc.currentStep&gt;1" ng-click="pc.prevStep()" class="btn-black ng-">Indietro</a>
                        </div>
                        <div class="col-md-12 text-center submit-button">
                            <a href="javascript:void(0);" ng-show="pc.steps&gt;pc.currentStep" ng-click="pc.nextStep()" class="btn-black">Avanti</a>
                            <a id="BtnProfilationForm" data-loading-text="Attendi ..." href="javascript:void(0);" ng-show="pc.steps==pc.currentStep" ng-click="pc.submitForm()" class="btn-black ng-">Conferma</a>
                        </div>
                    </div>
                </div>

                <div class="user-profile-custom" ng-init="pc.currentStep=1" ng-show="pc.steps>1" >
                    <div class="progr-bar-content">
                        <div class="intesta"><strong> {[{ pc.currentStep }]}/{[{ pc.steps }]}</strong> </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{[{pc.percent}]}" aria-valuemin="0" aria-valuemax="100" style="width: {[{pc.percent}]}%;">
                                        <span class="sr-only">{[{pc.percent}]}% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

            <div class="container" ng-if="pc.CompletedForm" ><div class="thankyou-for-submitting"><h2>Hai già compilato il questionario</h2><p></p></div></div>
            <div class="container" ng-if="pc.Thanks" ><div class="thankyou-for-submitting"><h2>Grazie per aver compilato il questionario</h2><p></p></div></div>
            <div class="container" ng-if="pc.Scaduto && !pc.NotAuthenticated" ><div class="thankyou-for-submitting"><h2>Non è più possibile compilare il questionario</h2><p></p></div></div>
            <div class="container" ng-if="pc.NonAncoraAttivo && !pc.NotAuthenticated" ><div class="thankyou-for-submitting"><h2>Non è ancora possibile compilare il questionario</h2><p></p></div></div>
            <div class="container" ng-if="pc.NotAuthenticated" ><div class="thankyou-for-submitting"><h2>Effettua l'accesso per compilare il questionario</h2><p></p></div></div>

            <div class="orange-error-box" ng-if="pc.NotValid" >
                Attenzione, ci sono errori nella compilazione del questionario
            </div>

        </div>

    </div>


</body>
</html>