.header
    ol.breadcrumb
        li
            span
        li.active
            span Dashboard
.content
    .row.grid
        div(ng-repeat="item in mc.menu",class="col-sm-{{item.col}}")
            .item(ng-click="mc.go(item.path)")
                h3 {{item.title}}
                span.total {{ item.total }}
                .stats-container(ng-repeat="anno in item.stats")
                    div.stats(ng-repeat="mese in anno.monthlyusage")
                        div.days(ng-repeat="day in mese.dailyusage | orderBy:'day' ",style="height:{{ day.percentage | num }}%")
                            span.perc {{ day.count }}
                            span.day {{ day.day }}
                //.images(ng-show="item.images")
                    div.image(ng-repeat="foto in item.images",style="background-image:url({{ foto.image.thumb.url }})")
