.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="campaign") Questionario
        li.active
            span Detail
            span.name {{ vm.data.title }}
    .actions
        //div.btn-group
        //    button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Previews
        //        span.caret
        //    ul.dropdown-menu
        //        li
        //            a(ng-show="vm.data._id",href="{{vm.info.domain}}/it/home-preview.html",target="_blank") Preview Homepage
        //        li
        //            a(ng-show="vm.data._id",href="{{vm.info.domain}}/campaign/{{vm.data.slug}}/preview?{{vm.rnd}}",target="_blank") Preview Minisite
        //        li
        //            a(ng-show="vm.data._id",href="{{vm.info.domain}}/campaign/{{vm.data.slug}}/results?{{vm.rnd}}",target="_blank") Preview Risultati
        //        li
        //            a(ng-show="vm.data._id",href="{{vm.info.domain}}/campaign/{{vm.data.slug}}/preview/review?{{vm.rnd}}",target="_blank") Preview Opinioni

        //button.btn.btn-sm.btn-primary(ng-show="vm.data._id",ui-sref="campaign.candidates({id: vm.data._id })") Candidates
        //button.btn.btn-sm.btn-success(ng-show="vm.data._id",ui-sref="campaign.processA({id: vm.data._id })") Procedura Attivazione
        //button.btn.btn-sm.btn-danger(ng-show="vm.data._id && !vm.data.published",ng-click="vm.delete()") Delete
        button.btn.btn-sm.btn-primary(ng-click="vm.save()") Save
.content
    form(ng-init="tab='info'")
        ul.nav.nav-tabs(role='tablist')
            li(role='presentation',ng-class="{active:tab=='info'}")
                a(href="javascript:;",ng-click="tab='info'") Info
            li(role='presentation',ng-class="{active:tab=='dates'}")
                a(href="javascript:;",ng-click="tab='dates'") Dates
            //li(role='presentation',ng-class="{active:tab=='minisite'}")
            //    a(href="javascript:;",ng-click="tab='minisite'") Minisite
            //li(role='presentation',ng-class="{active:tab=='risultati'}")
            //    a(href="javascript:;",ng-click="tab='risultati'") Risultati
            //li(role='presentation',ng-class="{active:tab=='opinioni'}")
            //    a(href="javascript:;",ng-click="tab='opinioni'") Opinioni
        div(ng-show="tab=='info'")

            hr(ng-init="vm.init()")
            .row
                .col-md-12
                    .form-group
                        label title *
                        input#field-title.form-control(placeholder="title",ng-model="vm.data.title")
                //.col-md-4
                //    .form-group
                //        label Slug *
                //        input#field-slug.form-control(placeholder="slug minisite",ng-model="vm.data.slug")
                .col-md-2.hidden
                    .form-group
                        label Column *
                        select#field-column.form-control(placeholder="column",ng-model="vm.data.column")
                            option(ng-repeat="ty in [{column:6,title:'1 colonna'},{column:12,title:'2 colonne'}]",ng-selected=" vm.data.column == ty.column" value="{{ ty.column }}") {{ ty.title }}


            .row

                .col-md-3
                    .form-group
                        label form
                        button.btn.btn-xs.btn-default(type="button",ng-click="vm.reloadInfo()") reload
                        select#field-form.form-control(placeholder="form",ng-model="vm.data.form",ng-change="vm.formUpdate()")
                            option(ng-repeat="f in vm.form", value="{{ f._id }}") {{ f.title }}
                //.col-md-3
                //    .form-group
                //        label order
                //        input#field-order.form-control(placeholder="order",ng-model="vm.data.order")

                //.col-md-2
                //    .form-group
                //        label Published
                //        input.form-control(type="checkbox",ng-model="vm.data.published")
                .col-md-2
                    .form-group
                        label Anonimize
                        input.form-control(type="checkbox",ng-model="vm.data.premium")

            .row
                .col-md-12
                    .form-group
                        label description *
                        textarea#field-description.form-control(placeholder="description",ng-model="vm.data.description",rows="10")
                .col-md-12
                    //.form-group
                    //    label category
                    //    select#category-form.form-control(placeholder="form",ng-model="vm.data.categories",multiple="multiple")
                    //        option(ng-repeat="cat in vm.categories", value="{{ cat._id }}") {{ cat.title }}
                    //.form-group
                    //    label tags
                    //    button.btn.btn-xs.btn-primary(ng-click="vm.addTag()") add
                    //    div.row(ng-repeat="tag in vm.data.tag")
                    //        .col-md-10
                    //            .form-group
                    //                input.form-control(placeholder="tag.name",ng-model="tag.name")
                    //        .col-md-2
                    //            button.btn.btn-danger.btn-xs(ng-click="vm.removeTag( $index )") X

        div(ng-show="tab=='dates'")
            //.row
                //.col-md-3
                //    .form-group
                //        label Orario inizio
                //        input.form-control(type="number",placeholder="hours",ng-model="vm.time.hours")
                //.col-md-3
                //    .form-group
                //        label Minuti inizio
                //        input.form-control(type="number",placeholder="minutes",ng-model="vm.time.minutes")
                //.col-md-3
                //    .form-group
                //        label Orario Fine
                //        input.form-control(type="number",placeholder="hours",ng-model="vm.time.hours")
                //.col-md-3
                //    .form-group
                //        label Minutes Conditions
                //        input.form-control(type="number",placeholder="minutes",ng-model="vm.time.minutes")

            .row
                .col-md-4
                    .form-group
                        label inizio questionario *
                        input.form-control(type="date",placeholder="date.start",ng-model="vm.data.dates.startCampaign")
                .col-md-1
                    .form-group
                        label Ora
                        input.form-control(type="number",placeholder="hours",ng-model="vm.time.hours")
                .col-md-1
                    .form-group
                        label Minuti
                        input.form-control(type="number",placeholder="minutes",ng-model="vm.time.minutes")
            .row
                .col-md-4
                    .form-group
                        label Fine questionario *
                        input.form-control(type="date",placeholder="date.end",ng-model="vm.data.dates.endCampaign")
                .col-md-1
                    .form-group
                        label Ora
                        input.form-control(type="number",placeholder="hours",ng-model="vm.time.endHours")
                .col-md-1
                    .form-group
                        label Minuti
                        input.form-control(type="number",placeholder="minutes",ng-model="vm.time.endMinutes")

        div(ng-show="tab=='minisite'")
            .row
                .col-md-3
                    .form-group
                        label Logo Minisite
                        div.clearfix
                            viewer-images(multiple="false",ng-model="vm.data.media.logo")
                .col-md-3
                    .form-group
                        label Cover Hp / List profile
                        div.clearfix
                            viewer-images(multiple="false",ng-model="vm.data.media.cover")
                .col-md-3
                    .form-group
                        label Skin Minisite
                        div.clearfix
                            viewer-images(multiple="false",ng-model="vm.data.media.skin")
                .col-md-3
                    .form-group
                        label Footer Minisite
                        div.clearfix
                            viewer-images(multiple="false",ng-model="vm.data.media.footer")
            .row
                .col-md-12
                    .form-group
                        label Images Minisite
                        div.clearfix
                            viewer-images(multiple="true",ng-model="vm.data.media.images")
            hr
            .row
                .col-md-3
                    .form-group
                        label Background Color
                        div.clearfix
                            input.form-control(type="color",ng-model="vm.data.content.style.background")
                .col-md-3
                    .form-group
                        label
                        div.clearfix
                            input.form-control(type="text",ng-model="vm.data.content.style.background")
            hr
            label Contents Home minisite
            .row
                .col-md-6
                    .form-group
                        label Title
                        input.form-control(type="text",ng-model="vm.data.content.home.title")
                .col-md-12
                    .form-group
                        label Description
                        textarea.form-control(rows="5",ng-model="vm.data.content.home.description")
            hr
            .row
                .col-md-6
                    .form-group
                        label Title Box sx
                        input.form-control(type="text",ng-model="vm.data.content.home.sx.title", ng-init="vm.data.content.home.sx.title = 'Cosa riceverai a casa tua'")
                    .form-group
                        label Description Box sx
                        trumbowyg-ng(ng-model="vm.data.content.home.sx.description", editor-config="{fullscreenable: false,removeformatPasted: true, btns: ['viewHTML','bold','italic','|','link','formatting','horizontalRule','insertImage','unorderedList']}")
                    .form-group
                        label Images Box sx
                        div.clearfix(ng-init="vm.data.content.home.sx.image = []")
                            viewer-images(multiple="false",ng-model="vm.data.content.home.sx.image")
                .col-md-6
                    .form-group
                        label Title Box dx
                        input.form-control(type="text",ng-model="vm.data.content.home.dx.title", ng-init="vm.data.content.home.dx.title = 'Informazioni utili'")
                    .form-group
                        label Description Box dx
                        trumbowyg-ng(ng-model="vm.data.content.home.dx.description", editor-config="{fullscreenable: false,removeformatPasted: true, btns: ['viewHTML','bold','italic','|','link','formatting','horizontalRule','insertImage','unorderedList']}")
                    .form-group
                        label Images Box dx
                        div.clearfix(ng-init="vm.data.content.home.dx.image = []")
                            viewer-images(multiple="false",ng-model="vm.data.content.home.dx.image")
        div(ng-show="tab=='risultati'")
            .row
                .col-md-3
                    .form-group
                        label Titoletto
                        input.form-control(type="text",ng-model="vm.data.content.risultati.title", ng-init="vm.data.content.risultati.title = ''")
                .col-md-3
                    .form-group
                        label Titolo
                        input.form-control(type="text",ng-model="vm.data.content.risultati.titolo", ng-init="vm.data.content.risultati.titolo = ''")
                .col-md-3
                    .form-group
                        label Url sito
                        input.form-control(type="text",ng-model="vm.data.content.risultati.sito.url", ng-init="vm.data.content.risultati.sito.url = 'http://'")
                .col-md-3
                    .form-group
                        label Nome sito
                        input.form-control(type="text",ng-model="vm.data.content.risultati.sito.name", ng-init="vm.data.content.risultati.sito.name = 'Nome sito'")
            .row
                .col-md-6
                    .form-group.mini-textarea
                        label Testo
                        trumbowyg-ng(ng-model="vm.data.content.risultati.testo", editor-config="{fullscreenable: false,removeformatPasted: true, btns: ['viewHTML','bold','italic','|','link','formatting','horizontalRule','insertImage','unorderedList']}")

                .col-md-3
                    .form-group
                        label Colore Principale
                        div.clearfix
                            input.form-control(type="color",ng-model="vm.data.content.risultati.color")
                .col-md-3
                    .form-group
                        label
                        input.form-control(type="text",ng-model="vm.data.content.risultati.color")
            .row
                .col-md-4
                    .form-group
                        label Foto
                        div.clearfix
                            viewer-images(multiple="false",ng-model="vm.data.content.risultati.image")
            hr
            label Box testi
            .row(ng-init="vm.data.content.risultati.box = []")
                .col-md-6(ng-repeat="box in vm.data.content.risultati.box")
                    .form-group
                        button.btn.btn-danger.btn-xs.pull-right(ng-click="vm.removeBoxRisultati(box)") x
                        label Etichetta
                        input.form-control(type="text",ng-model="box.average")
                    .form-group
                        label Percentuale
                        input.form-control(type="text",ng-model="box.label")
                    .form-group.mini-textarea
                        label Testo
                        trumbowyg-ng(ng-model="box.description", editor-config="{fullscreenable: false,removeformatPasted: true, btns: ['viewHTML','bold','italic','|','link','formatting','horizontalRule','insertImage','unorderedList']}")
            button.btn.btn-xs.btn-success(ng-click="vm.addBoxRisultati()") +
        div(ng-show="tab=='opinioni'")
            .row
                .col-md-6
                    .form-group
                        label Titolo
                        input.form-control(type="text",ng-model="vm.data.content.opinioni.titolo", ng-init="vm.data.content.risultati.titolo = ''")
                .col-md-6
                    .form-group
                        label Immagine
                        div.clearfix
                            viewer-images(multiple="false",ng-model="vm.data.content.opinioni.image")
            .row
                .col-md-6
                    .form-group.mini-textarea
                        label Testo
                        trumbowyg-ng(ng-model="vm.data.content.opinioni.testo", editor-config="{fullscreenable: false,removeformatPasted: true, btns: ['viewHTML','bold','italic','|','link','formatting','horizontalRule','insertImage','unorderedList']}")