.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="campaign",ng-click="vm.queryString = null;vm.search()") Questionario
        li.active
            span LIST
    .actions
        .row
            .col-md-6
                input.form-control(type="search",placeholder="search",ng-model="vm.queryString")
            .col-md-2
                label published
                input( ng-click="vm.published =!vm.published ", type="checkbox" )
            .col-md-2
                button.btn.btn-md.btn-primary(ng-click="vm.search()") Search
            .col-md-2.text-right
                button.btn.btn-md.btn-info(ui-sref="campaign.create") Create
.content.list
    table.table
        thead
            tr
                th
                th name
                th inizio questionario
                th fine questionario
                // th release feedback
                // th type
                // th pieces
                // th candidates
                // th confirmed
                th published
                // th premium

        tbody
            tr.no-cursor(ng-repeat="item in vm.data",ng-class="{published:item.published}")
                include table.jade
paging.paging(page="vm.page",page-size="vm.limit",total="vm.total", paging-action="vm.search(page)")
