.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="campaign") Questionari
        li.active
            span LIST
    .actions
        .row
            .col-md-8
                input.form-control(type="search",placeholder="search",ng-model="vm.queryString")
            .col-md-2
                button.btn.btn-md.btn-primary(ng-click="vm.search()") Search
.content
    .row
        .col-md-3(ng-repeat="item in vm.data",ui-sref="campaign.detail({id: item._id })")
            div {{item.title}}
            div {{item.description}}
            div {{item.type}}
            div.text-right(ui-sref="campaign.candidates({id: item._id })")
                span.glyphicon.glyphicon-user
            div.text-right
                span.glyphicon.glyphicon-menu-right
    paging(page="vm.page",page-size="vm.limit",total="vm.total", paging-action="vm.search(page)")
