.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="campaign.detail({id: vm.campaignId })") Questionario
        li.active
            span Procedura Attivazione

    .actions

  .content.process
      form
          h1.title {{ vm.data.title }}
          .row
              .col-md-12
                  .step(ng-class="{ active: !vm.fasi['accepted'] }")
                      h1 1
                      h2 Simulare il filtro degli utenti?
                      div.form-group
                        .col-md-3
                          label Age min
                          input.form-control(type="number", ng-model="vm.age.min", value='', placeholder="min")
                        .col-md-3
                          label Age max
                          input.form-control(type="number", ng-model="vm.age.max", value='',placeholder="max")
                        .col-md-3
                          label Zone
                          select.form-control(placeholder="zone",ng-model="vm.zone")
                            option(value='any' selected) qualsiasi
                            option(value='Nord-est') Nord-est
                            option(value='Nord-ovest') Nord-ovest
                            option(value='Centro') Centro
                            option(value='Sud e isole') Sud e isole
                        .col-md-3
                          label Gender
                          select.form-control(placeholder="zone",ng-model="vm.sex")
                              option(value='any' selected) qualsiasi
                              option(value='Male') Male
                              option(value='Female') Female

                      div.actions
                          .resp
                            h4(ng-show="vm.info.filtered") Trovati {{vm.info.filtered}} utenti
                            h4(ng-show="vm.info.filtered==0") Non sono stati trovati utenti
                          .btn-group.btn-group-justified
                             .btn-group
                                button.btn.btn-primary(role="button",ng-show="!vm.attesa", type="button",ng-click="vm.filter(vm.sex, vm.age, vm.zone, vm.simulate)") SIMULAZIONE
                             .btn-group
                                button.btn.btn-warning(role="button",ng-show="vm.info.filtered && !vm.attesa", type="button",ng-click="vm.downloadPreviewSelected()") ANTEPRIMA VINCITORI (XLS)
                             .btn-group
                                button.btn.btn-success(role="button",ng-show="vm.info.filtered && !vm.attesa", type="button",ng-click="vm.filter(vm.sex, vm.age, vm.zone, false)") CONFERMA
          .row
              //.col-md-6
                .step(ng-class="{ active: vm.totalPre && !vm.fasi['accepted'] }")
                    h1 1
                    h2 Accetti {{ vm.totalPre }} utenti preconfermati?
                    h4(ng-show="vm.info.accepted") Attivati {{vm.info.accepted}} utenti
                    button.next.btn.btn-success(type="button",ng-click="vm.accepted()") Avanti

              .col-md-6
                .step(ng-class="{ active: vm.totalRejected && ( !vm.fasi['rejected'] && vm.fasi['accepted'] )  }")
                    h1 2
                    h2 Rigetta {{ vm.totalRejected }} utenti?
                    h4(ng-show="vm.info.rejected") Rigettati {{vm.info.rejected}} utenti
                    button.next.btn.btn-success(type="button",ng-click="vm.rejected()") Avanti

              .col-md-6
                .step(ng-class="{ active: vm.totalActived && ( !vm.fasi['accepted'] || !vm.fasi['mailAccepted'] ) }")
                    h1 3
                    h2 Invia la notifica di ACCETTAZIONE a {{ vm.totalActived }} utenti
                    h4(ng-show="vm.info.mailAccepted") Inviate {{vm.info.mailAccepted}} email
                    button.next.btn.btn-success(type="button",ng-click="vm.mailAccepted()") INVIA

              .col-md-6
                .step(ng-class="{ active: vm.totalActived && (!vm.fasi['accepted'] || !vm.fasi['exportXls']) }")
                    h1 4
                    h2 Scarica il file xls, per il corriere
                    button#BtnExpCsv.next.btn.btn-success(type="button",ng-click="vm.exportXls()",data-loading-text="Loading...") Export

              .col-md-6
                .step(ng-class="{ active: vm.totalActived && !vm.fasi['importXls'] }")
                    h1 5
                    h2 Importo file xls con dati tracking
                    h4(ng-show="vm.info.importXls >= 0") Aggiornati {{vm.info.importXls}} utenti
                    .text-center
                        input(id="csvUpload", type="file", accept=".csv", file-model="vm.csv")
                    button#BtnCsv.next.btn.btn-success(type="button",ng-click="vm.importXls()",data-loading-text="Loading...") Import

              .col-md-6
                .step(ng-class="{ active: vm.totalActived && !vm.fasi['mailTracking'] }")
                    h1 6
                    h2 Invia la notifica a  {{ vm.totalActived }} utenti, con i dati del tracking
                    h4(ng-show="vm.info.mailTracking >= 0") Inviate {{vm.info.mailTracking}} email
                    button.next.btn.btn-success(type="button",ng-click="vm.mailTracking()") INVIA

              .col-md-6
                .step(ng-class="{ active: vm.totalActived && !vm.fasi['mailSurvey'] }")
                    h1 7
                    h2 Invia la notifica a  {{ vm.totalActived }} utenti, per avvisarli dell'inizio del survey
                    h4(ng-show="vm.info.mailSurvey >= 0") Inviate {{vm.info.mailSurvey}} email
                    button.next.btn.btn-success(type="button",ng-click="vm.mailSurvey()") INVIA