td.cursor(ui-sref="campaign.detail({id: item._id })") # {{ ($index +1) + ( (vm.page-1)  * vm.limit ) }}
td.cursor(ui-sref="campaign.detail({id: item._id })") {{ item.title }}
td {{item.dates.startCampaign | date:'dd/MM/yyyy HH:mm'}}
td {{item.dates.endCampaign | date:'dd/MM/yyyy HH:mm'}}
// td {{item.dates.releaseFeedback | date:'dd/MM/yyyy HH:mm'}}
// td {{item.type}}
// td {{item.piecesInitial}}
// td
    div.cursor.glyphicon.glyphicon-refresh(ng-show="item.count == undefined ",ng-click="vm.getCandidate($event,item)")
    span(ng-show="item.count >= 0 ") {{ item.count }}
// td {{ item.candidates.length }}
td
    input( ng-disabled="true", ng-checked="item.published", type="checkbox" )
// td
    input( ng-disabled="true", ng-checked="item.premium", type="checkbox" )
td.text-right(ng-init="vm.getProgress(item)")
    .c100.small(class="p{{item.progress}}",ng-show="item.progress == 100")
        span {{item.progress}}%
        .slice
            .bar
            .fill