.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="campaign") Questionario
        li
            a(ui-sref="campaign.candidates({id: vm.campaignId })") Candidates
        li.active
            span Tracking

    .actions
        .row
            .col-md-8
            .col-md-4.dropdown-candidates
                .dropdown
                    button.btn.btn-default.dropdown-toggle(type="button",id="dropdownMenu1",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true") Actions
                        span.caret

                    ul.dropdown-menu(aria-labelledby="dropdownMenu1")

                        li
                            a.btn.btn-md.btn-primary(href="javascript:void(0)",ng-click="vm.sendTrackingMail()") Send tracking

  .content
    .fieldset-row-tracking
        .row.upload-tracking-row
            .col-md-10
                label Upload del csv aggiornato con i dati per il tracking
                input.btn.btn-default( id="csvUpload", type="file", accept=".csv", file-model="vm.csv" )
            .col-md-2
                //span Vengono inviate le email solo ai candidati a cui non è s
                button.btn.btn-success.tracking-mt-25( type="button", id="BtnCsv", data-loading-text="Loading...", ng-show="vm.csv", ng-click="vm.importCsv()"  ) Import

        //.row.send-tracking-row
        //    .col-md-12
        //        label Invio dei tracking code via email ai candidati ( solo una volta per candidato )
            //.col-md-12
            //    button.btn.btn-danger(ng-click="vm.sendTrackingMail()") Send Tracking

