.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="campaign") Questionario
        li.active
            span Candidates
    .actions
        label.badge Total active {{ vm.totalActived }}
        //button.btn.btn-xs.btn-primary( ng-click="vm.getExportFormCandidates()", ng-show="vm.reportsPending==0" ) Export form candidates {{ vm.totalActived }}
    //.ACTIONS
        .row
            .col-md-5.dropdown-candidates(ng-show="vm.now >= vm.dataCampaign.dates.endCandidations")
                .dropdown
                    button.btn.btn-default.dropdown-toggle(type="button",id="dropdownMenu1",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true") Actions
                        span.caret
                    ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                        li
                            a.btn.btn-md.btn-primary(href="javascript:void(0)",ng-click="vm.acceptPreconfirmed()") Accept preconfirmed
                        li
                            a.btn.btn-md.btn-primary.btn-mt5(href="javascript:void(0)",ng-click="vm.sendMail()") Send emails
                        li
                            a.btn.btn-md.btn-info.btn-mt5(href="javascript:void(0)",ng-click="vm.exportAccepted()") Export accepted
                        li
                            a.btn.btn-md.btn-info.btn-mt5( ui-sref="campaign.tracking({id: vm.campaignId })" ) Tracking
                        li
                            a.btn.btn-md.btn-warning.btn-mt5(href="javascript:void(0)",ng-click="vm.defineCandidates()") Submit


.content.list
    .row
        .col-md-12

    table.table
        thead
            tr
                th Campaign
                th Email
                th
                    a(ng-click="vm.init('active')") Accept
                    //input(type="checkbox", id="selectAll", ng-click="vm.checkAll()")
                th Reject
                    //input(type="checkbox", id="rejectAll", ng-click="vm.rejectAll()")
                th
                    a(ng-click="vm.init('preconfirmed')") Preconfirmed
                th Requisite
        tbody
            tr(ng-repeat="item in vm.data| filter: vm.search", ng-class="{'bg-success': item.active == true}")
                td( ui-sref="user.detailCampaign({ id: item.user.profile, campaignId: item.campaign._id })") {{ item.campaign.title }}
                td( ui-sref="user.detailCampaign({ id: item.user.profile, campaignId: item.campaign._id })") {{item.user.email }}
                td
                    input( ng-disabled="item.active || item.rejected", ng-checked="item.active", type="checkbox",id="s-{{ item._id }}",value="{{ item.user._id }}", title="{{item.dates.candidation | date:'dd/MM/yyyy HH:mm.ss' }}" )
                td
                    input( ng-disabled="item.active || item.rejected", ng-checked="item.rejected", type="checkbox",id="r-{{ item._id }}",value="{{ item.user._id }}")
                td
                    input( ng-disabled="true", ng-checked="item.preconfirmed", type="checkbox",id="p-{{ item._id }}",value="{{ item.user._id }}" )
                td
                    input( ng-disabled="true", ng-checked="item.requisite", type="checkbox" )

paging.paging(page="vm.page",page-size="vm.limit",total="vm.total", paging-action="vm.changeLimit(page)")