main-padding = 0px
body
  font-weight 300
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  padding: 0
  margin: 0
  background: #457fca;
  background-image: linear-gradient(to left, #457fca, #5691c8)
  overflow: hidden
  transition background 0.7s
  &.success
    background: #76b852;
    background-image: linear-gradient(to left, #76b852, #8DC26F);
  &.error
    background: #EB3349;
    background-image: linear-gradient(to left, #EB3349, #F45C43);
  .environment
    position: absolute
    top: 0px
    left: 40px
    z-index: 999
    color: #FFF
    padding: 4px 10px
    text-transform: uppercase
    letter-spacing 1px
    font-weight: 300
    &.development
      background: #3CA2E0
    &.stage
      background: #E98A26
    &.production
      background: #C74231
  .loader
    position: fixed
    top: 20px
    left: 50%
    margin-left: -35px
    display: none
    z-index: 200
    .spinner div
      background: #333
    &.active
      display: block
  .main
    z-index: 100
    position: fixed
    top: 10px
    max-width 1440px
    bottom: main-padding
    left: 50%
    transform translate(-50%,0)
    width: 100%
    background: #F5F6F8
    box-shadow 0 0 30px rgba(0, 0, 0, 0.2)
    border-radius 0px
    overflow: hidden
    .table
      margin-bottom: 0
      tbody tr
        cursor: pointer
        &.no-cursor
          cursor: default
        border-left: 2px solid transparent
        &.published
          font-weight: 700
        .glyphicon
          color: #979797
        &:hover
          border-left: 2px solid #DDD
          .glyphicon
            color: #000
        &.week td
          text-align: left
          padding-left: 20px
          height: 50px
          text-transform: uppercase
          font-size: 16px
          font-weight: 700
          vertical-align: middle
          padding: 0
        &.week:hover
          border-left 0
        .glyphicon-refresh
          &.rotating
            -webkit-animation: rotating 2s linear infinite;
            animation: rotating 2s linear infinite;
        td
          &.cursor, .cursor
            cursor pointer
    .status
      transition all 0.3s
      z-index: 999
      position: absolute
      bottom: 20px
      left: 150px
      right: 150px
      text-align: center
      font-size: 13px
      text-transform: lowercase
      font-weight: 300
      background: white
      padding: 15px
      border-radius 4px
      box-shadow 0 0 5px #ccc
      opacity: 0
      &.active
        opacity: 1
    label
      font-weight: 700
      text-transform: uppercase
      font-size: 12px
      letter-spacing 1px
    .form-control
      font-weight: 300
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif