@import 'var'

#chooser
  background: #F5F6F8
  z-index: 9999
  position: absolute
  bottom: 0
  left: width-sidenav * -1
  width: width-sidenav
  top: 0
  transition all 0.3s
  padding: 10px
  .closer
    position: relative
    top: 0px
    left: 0
    right: 0px
    height: 30px
    color: #222
    text-align: center
    cursor: pointer
    font-size: 24px
  input
    margin-top: 20px
    text-align: center
  .list
    top: 100px
    bottom: 0
    left: 0
    right: 0
    position: absolute
    overflow: auto
    .image
      border: 1px solid #eee
      border-radius: 2px
      cursor: pointer
      width: 66px
      height: 66px
      background-size: cover
      background-repeat: no-repeat
      float: left
  &.active
    left: 10px

.viewer
  .image
    margin-top: 10px
    float: left
    border: 1px solid #ddd
    padding: 2px
    background: #FFF
    margin-right: 10px
    cursor: pointer
    width: 100px
    height: 100px
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    position: relative
    button
      display: none
    &:hover
      opacity 0.7
      button
        display: block
        position: absolute
        top: 50%
        left: 50%
        margin-top: -17px
        margin-left: -20px
