@import 'var'
.main-content
  position: absolute
  left: width-sidenav + padding-content
  top: padding-content
  bottom: padding-content
  right: (padding-content - 30)
  .header
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 40px
    .breadcrumb
      background: none
      padding: 0
      li
        font-weight: 300
        letter-spacing 1px
        text-transform: lowercase
        a
          text-transform: lowercase
        &.active
          .name
            padding-left: 10px
            font-weight: 700
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            width: 300px
            letter-spacing 0
            display: inline-block
            vertical-align: bottom
    .actions
      width: 70%
      text-align: right
      position: absolute
      right: 30px
      top: 0
      .btn
        margin-left: 5px
  .content
    position: absolute
    top: 50px
    right: 0
    bottom: 0
    left: 0
    padding-right: 30px
    overflow-y auto
    overflow-x hidden
    &.list
      bottom: 70px
    .nav-tabs
      margin-bottom: 30px
      font-weight: 300
      text-transform: uppercase
      letter-spacing 1px
      background: none
      li
        border none
    .mini-textarea
      .trumbowyg-box, .trumbowyg-editor, .trumbowyg-textarea
        min-height: 150px !important
