.grid
  .item2
    position: relative
    overflow: hidden
    border 0px solid #ddd
    height: 240px
    margin-bottom: 30px
    cursor: pointer
    background: #eee
    padding: 50px
    text-align: center
    h3
      z-index: 10
      position: absolute
      top: 10px
      left: 10px
      right: 10px
      padding: 0
      margin: 0
      text-align: center
      font-size: 14px
      font-weight: 300
      text-transform: uppercase
      letter-spacing 1px
  .item
    position: relative
    overflow: hidden
    border 0px solid #ddd
    height: 200px
    margin-bottom: 30px
    cursor: pointer
    background: #eee
    &:hover
      background: rgba(239, 239, 239, 0.47)
    h3
      z-index: 10
      position: absolute
      top: 10px
      left: 10px
      padding: 0
      margin: 0
      text-align: center
      font-size: 14px
      font-weight: 300
      text-transform: uppercase
      letter-spacing 1px
    .total
      z-index: 20
      position: absolute
      top: 10px
      bottom: 10px
      right: -20px
      font-size: 160px
      color: rgba(38, 38, 38, 0.3)
    .stats
      height: 250px
      position: absolute
      bottom: 0
      left: 0
      right: 0
      flex-direction: row
      display: flex
      align-items: flex-end
      .days
        position: relative
        text-align: center
        font-size: 10px
        flex:1
        background: #d7d7d7
        min-height:20px
        .perc
          position: absolute
          top: -15px
          left: 0
          right: 0
        .day
          left: 0
          right: 0
          position: absolute
          bottom: 2px
    .images
      z-index: 0
      position: absolute
      bottom: 0
      left: 0
      right: 0
      top: 0
      display: flex
      flex-wrap: wrap
      align-items: flex-end
      align-content: flex-start
      .image
        flex 1
        background-size: cover
        min-width: 70px
        height: 70px
        border 0px solid #333
        background-repeat: no-repeat
        opacity: 0.8
    .data
      position: absolute
      bottom: 10px
      left: 0
      right: 0
      top: 20px
      .gender
        position: relative
        height: 150px
        width: 49%
        float: left
        text-align: center
        label
          padding-top: 20px
        .total
          font-size: 120px
          bottom: 0
          top: 0
          left: 0
          right: 0
        &.Male
          position: absolute
          bottom: 0
          left: 0
        &.Female
          position: absolute
          bottom: 0
          right: 0
        &.Not_selected
          position: absolute
          bottom: 0
          right: 0
