#form
  fieldset
    &.internal
      background: #eee
    border 1px solid #ddd
    &.fieldRow
      border 0px solid #ddd
      border-bottom: 2px solid #ccc
    padding: 10px
    margin-bottom: 30px
    position: relative
    .showField
      position: absolute
      left: 2px
      top: -6px
      z-index: 999
    .removeField
      position: absolute
      right: 2px
      top: -6px
      z-index: 999