.profilation-content {
  font-weight: 300
  margin-bottom: 20px;
  input[type="date"], input[type="text"] {
    text-indent: 10px;
  }
  label{
    text-transform: lowercase !important;
  }
  .buttons{
    .text-right{
      border:0 none;
    }
  }
  input[type="text"] {
    height: 40px;
    border: 1px solid #333;
    border-radius: 8px;
  }
  .heading-form {
    input[type="text"] {
      width: 20%;
      height: 40px;
      border: 1px solid #333;
      border-radius: 8px;
    }
    padding: 15px;
    h2 {
      text-transform: uppercase;
      font-size: 19px;
      margin-top: 0;
    }
    p {
      color: #333;
      margin-bottom: 0;
      font-size: 12px;
    }
  }
  .range-row{
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    padding-top: 10px;
    min-height: 100px;
  }
  .form-content {
    padding: 15px;
    .form-element-row {
      padding: 15px;
      border-top: 0 solid #333;
      border-left: 0 solid #333;
      border-right: 0 solid #333;
      .lft-label {
        text-align: left;
        margin-bottom: 10px;
      }
      .rgt-label {
        text-align: right;
        margin-bottom: 10px;
      }
      .slider-selection {
        background: #BABABA;
      }
      .mid-separator {
        span {
          display: inline-block;
          &:last-child {
            margin-left: -3px;
          }
        }
      }

      .form-ranges-separator{
        margin-top: 25px;
        border-top:1px dotted #333;
        border-bottom:0px solid #ccc;
        height: 25px;
      }



    }
    .close-group-separator {
      border-top: 1px solid #333;
      padding-bottom: 25px;
    }
    .condition-box {
      strong {
        color: #333;
        font-size: 12px;
        display: block;
        margin-bottom: 15px;
      }
      span {
        font-family: 'Arial';
        font-weight: 300;
        font-style: italic;
        color: #333;
        display: block;
        margin-bottom: 15px;
      }
      label {
        display: block;
        input[type="radio"] {
          margin-right: 5px;
        }
        margin-bottom: 7px;
      }
      .inlines-radio {
        text-align: center;
        label {
          display: inline-block;
          margin: 0 15px 15px 15px;
        }
      }
    }
    .list-choose {
      margin-top: 10px;
      margin-bottom: 10px;
      label {
        display: block;
        font-size: 15px;
        font-weight: 300;
        color: #1C1C1C;
        input[type="radio"] {
          margin-right: 10px;
        }
      }
    }
  }
  .form-submit {
    padding: 15px;
    .btn-black {
      display: inline-block;
      width: auto;
      height: 43px;
      line-height: 43px;
      border-radius: 15px;
      padding: 0 45px;
      color:#FFF;
      margin-bottom: 0;
    }
  }
  .form-submitted-final {
    &>div {
      margin-bottom: 10px;
    }
    label {
      display: block;
      color: #656565;
      font-family: 'Gotham';
      font-style: italic;
    }
    input[type="text"] {
      width: 100%;
      height: 40px;
      border: 1px solid #333;
      border-radius: 8px;
    }
    textarea {
      height: 100px;
      width: 100%;
      border: 1px solid #333;
      border-radius: 8px;
    }
    select {
      -webkit-appearance: none;
      height: 45px;
      -moz-appearance: none;
      appearance: none;
      background: url('/template/_default/grafica/sel-arrow.png') no-repeat center right #fff;
      border-radius: 7px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
    }
  }


}

