#media
  .item
    border 1px solid #ddd
    display: block
    background-size: contain
    background-color: #fff
    background-repeat: no-repeat
    background-position: center center
    height: 200px
    width: 100%
    margin-bottom: 30px
    position: relative
    .info
      transition background 0.1s
      position: absolute
      bottom: 0
      left: 0
      right: 0
      top: 0
      background: rgba(250, 250, 250, 0.99)
      color: #333
      padding: 10px
      opacity: 0
      &:hover
        opacity: 1
      .name
        margin-bottom: 10px
        text-transform: uppercase
        font-weight: 300
        padding-right: 30px
      .format
        position: absolute
        right: 0px
        top: 0px
        padding: 10px 6px
        font-weight: 300
      .label
        margin-right: 3px
        cursor: pointer
      .actions
        position: absolute
        bottom: 10px
        left: 10px
        right: 10px

#media-upload
  .list
    margin-top: 30px
    border-bottom:1px solid #ddd
    .preview
      width: 120px
      height: 100px
      background-size: cover
      display: block

