.paging
  position: absolute
  bottom: -30px
  left: 0
  right: 0
  text-align: center
  .pagination
    padding: 0
    margin: 0
    text-align: center
    li
      padding: 0
      margin: 0
      &.disabled
        a
          background: none
          color: #000
      &.active
        a
          background: none
          font-size: 50px
          font-weight: 100
          color: #4d4d4d
      a
        background: none
        border: 0
        padding-top: 0
        padding-bottom: 0
        font-size: 50px
        opacity: 0.8
        color: #afafaf
        &:hover
          color: #575757