h1.title
  font-size: 24px
  color: #666
  text-transform: uppercase
  margin: 0
  padding: 0
  padding-top: 20px
  padding-bottom: 40px
  font-weight: 300
.process
  text-align: center
  .step
    margin-bottom: 40px
    height: 330px
    position: relative
    text-align: center
    background: #eee
    padding: 10px
    opacity: 0.3
    pointer-events none
    cursor: not-allowed
    &.active
      cursor: default
      pointer-events auto
      opacity 1
    h1
      border-radius 50%
      border 2px solid #ddd
      width: 100px
      height: 100px
      line-height: 100px
      text-align: center
      margin: 0 auto
      background: #FFF
    h2
      font-size: 15px
      padding: 0
      margin: 0
      padding-top: 30px
      padding-bottom: 10px
    .next
      display: block
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: 100%
      text-align: center
      border-radius 0
    .actions
      display: block
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: 100%
      text-align: center
      .resp
        position: absolute
        bottom: 50px
        left: 0
        right: 0
        text-align: center
        h4
          padding: 0
          margin: 0
      .btn
        border-radius 0
