@import 'var'

.sidenav
  width: width-sidenav
  position: absolute
  left: padding-content
  top: padding-content
  bottom: padding-content
  .logo
    position: absolute
    bottom: 0px
    left: 20px
    font-weight: 700
    text-transform: uppercase
    font-size: 20px
    color: rgba(100, 100, 100, 0.1)
    a
      color: #ddd
      font-size: 11px
      text-align: center
      display: block
      cursor: pointer
      &:hover
        color: #555
  nav
    .item
      h3
        cursor: pointer
        margin: 0
        padding: 0
        padding-top: 10px
        margin-bottom: 10px
        text-transform: uppercase
        font-size: 12px
        letter-spacing 1px
        color: #666
        font-weight: 300
        -webkit-touch-callout: none
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        &.active
          font-weight: 700
        &:hover
          color: #111
      ul
        transition all 0.2s
        display: none
        opacity: 0
        margin: 0
        padding: 0
        padding-top: 10px
        border-bottom 1px solid #e4e4e4
        &:last-child
          border-bottom: none
        li
          list-style-type none
          text-align: left
          padding-bottom: 3px
          position: relative
          &.active:before
            content: ''
            position: absolute
            left: -22px
            top: 8px
            border-radius 50%
            width: 6px
            height: 6px
            background: #5BBEE0
            opacity: 1
            box-shadow 0 0 2px #fff
          a
            font-size: 12px
            text-transform: uppercase
            letter-spacing 1px
            font-weight: 100
            color: #666
            font-weight: 300
            &:hover, &:visited, &:focus
              text-decoration: none
        &.active
          opacity: 1
          display: block
          margin-bottom: 30px




