#user
  h1
    font-size: 26px
    text-transform: uppercase
    letter-spacing: 1px
    margin: 0
    padding: 0
    margin-bottom: 10px
    font-weight: 300
  h2
    font-size: 22px
    letter-spacing: 1px
    margin: 0
    padding: 0
    margin-bottom: 20px
    font-weight: 300
  h3
    font-size: 16px
    letter-spacing: 1px
    margin: 0
    padding: 0
    font-weight: 300
  fieldset
    border 1px solid #ddd
    padding: 20px 10px
    margin-bottom: 30px
    position: relative
    fieldset
      border-left: 0
      border-right: 0
      border-bottom: 0
    .table
      tr
        cursor default
    .prevalid
      position: absolute
      top: 10px
      right: 10px
  .ranges
    strong
      margin-left: 5px
      font-size: 14px
  .spaceTop
    margin-top: 10px
  .statusBool
    padding-left: 5px
    padding-right: 10px

.dropdown-candidates ul
  right: 0
  padding: 5px
  background-color: #fff
  border: 1px solid #aab2bd
  a
    color: #444
  a.btn
    color: #fff

.upload-tracking-row
  padding: 50px

.send-tracking-row
  padding: 50px

.tracking-mt-25
  margin-top: 25px

#csvUpload
  width: 100%

.fieldset-row-tracking
  border: 1px solid #CCCCCC
  border-radius: 6px

.btn-mt5
  margin-top: 5px