.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="survey") Survey
        li
            a(ui-sref="survey.list") List
        li.active
            span Detail
            span.name {{vm.data.title}}
    .actions
        button.btn.btn-sm.btn-warning(ng-show="vm.data._id",ng-click="vm.clone(vm.data)") Clone
        button.btn.btn-sm.btn-danger(ng-show="vm.data._id", ng-click="vm.delete(vm.data._id)") Delete
        button.btn.btn-sm.btn-primary(ng-click="vm.save()") Save
.content
    form#survey
        .row
            .col-md-4
                .form-group
                    label Title
                    input#field-title.form-control(placeholder="title",ng-model="vm.data.title")
            .col-md-4
                .form-group
                    label type
                    input#field-type.form-control(placeholder="type",ng-model="vm.data.type")
            .col-md-4
                .form-group
                    label Published
                    input.form-control(type="checkbox",placeholder="Published",ng-model="vm.data.published")

        .row
            .col-md-4
                .form-group
                    label actual status
                    input.form-control(placeholder="status.actual",ng-model="vm.data.status.actual")
            .col-md-4
                .form-group
                    label after close status
                    input.form-control(placeholder="status.afterClose",ng-model="vm.data.status.afterClose")

        .row
            .col-md-12
                label Questions
                fieldset(ng-repeat="question in vm.data.questions")
                    .row
                        .col-md-4
                            .form-group
                                input.form-control(placeholder="title",ng-model="question.title")
                        .col-md-3
                            .form-group
                                select.form-control(ng-model="question.type")
                                    option(ng-repeat="ty in vm.types") {{ ty }}
                        .col-md-4
                            .form-group
                                input.form-control(placeholder="description",ng-model="question.description")
                        .col-md-1
                            button.btn.btn-xs.btn-danger(ng-click="vm.removeQuestion( $index )") x
                    .row
                        .col-md-12
                            .form-group
                                label answers
                                button.btn.btn-xs.btn-primary(ng-click="vm.addAnswer(question)") add
                        .col-md-12
                            div.row(ng-repeat="answer in question.answers")
                                .col-md-11
                                    .form-group
                                        input.form-control(placeholder="name",ng-model="answer.name")
                                .col-md-1
                                    button.btn.btn-xs.btn-danger(ng-click="vm.removeAnswer(question.answers, answer )") x

                button.btn.btn-xs.btn-primary(ng-click="vm.addQuestion()") add question
