.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="survey") Survey
        li.active
            span LIST
    .actions
        .row
            .col-md-10
                input.form-control(type="search",placeholder="search")
            .col-md-2.text-right
                button.btn.btn-md.btn-primary(ui-sref="survey.create") Create
.content
    table.table
        thead
            th Title
            th status
            th published
        tbody
            tr(ng-repeat="item in vm.data", ui-sref="survey.detail({id: item._id })")
                td {{item.title}}
                td {{item.status.actual}}
                td {{ item.published }}
                td
                    span.glyphicon.glyphicon-menu-right