<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        http://www.w3.org/TR/html4/loose.dtd>
<html>
<head>
    <title>Disney</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        body,td,th {
            color: #333333;
            font-family: Georgia, serif;
        }
        body {
            background-color: #fef7fe;
            -webkit-text-size-adjust: none;
        }
        a {
            -webkit-text-size-adjust: none;
        }
        a:link {
            color: #00ccff;
        }
        a:visited {
            color: #00ccff;
        }
        a:hover {
            color: #00ccff;
        }
        a:active {
            color: #00ccff;
        }

    </style>
</head>
<body bgcolor="#fef7fe" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0">
    <tr>
        <td bgcolor="#fef7fe">
            <br>
            <table style="border:1px solid #545454 !important" width="548" border="0" align="center" cellpadding="0" cellspacing="0" id="Tabella_01">
                <tr>
                    <td width="548" height="185" bgcolor="#FFFFFF">
                        <center>
                            <a href="http://www.disney.it">
                            <img src="http://www.disney.it/file/opinion-model-retina-new.png" alt="Disney" width="241" height="127">
                            </a>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" align="center">
                        <table width="500" border="0" cellspacing="10" cellpadding="10">
                            <tbody>
                            <tr>
                                <td><font size="2" color="#666666" face="Georgia"  style="line-height: 20px">

                                    {{& content }}


                                </font></td>
                            </tr>
                            </tbody>
                        </table>

                        <br>



                    </td>
                </tr>

                <tr>
                    <td width="548" height="46" colspan="5" bgcolor="#545454">
                        <font size="1" color="#FFFFFF" face="arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy;2016 Arnoldo Mondadori Editore Spa</font></td>
                </tr>
            </table>
            <br>

            <br>
        </td>
    </tr>
</table>
</body>
</html>