doctype html
html(lang='en',ng-app='app')
  head
    title Disney - Panel Admin
    link(rel='stylesheet', href='/assets/backend/production.css?v=1')
    script(src='/assets/backend/production.js?v=27')
  body(ng-controller="mainController as mc",ng-class="{success: statusClass == 'success', error: statusClass == 'error'}")
    .loader(ng-class="{active:startLoader}")
      .spinner
        .bounce1
        .bounce2
        .bounce3
    .main
      .environment(class="{{mc.environment}}") {{ mc.environment }}
      .status( ng-show="statusError", ng-class="{ active:statusError}")
        p {{ statusError }}
        .btn.btn-default.btn-xs(ng-click="mc.hideStatusError()") close
      #chooser(chooser-images="",ng-class="{active:showChooser}")
      .sidenav
        .logo DISNEY
          a(ng-click="mc.logout()",ng-show="mc.isAuth") Logout
        nav(ng-show="mc.isAuth")
          .item(ng-repeat="item in mc.menu")
            h3(ng-click="mc.active = item",ng-class="{ active: mc.active == item }",ui-sref="{{item.items[0].path}}") {{ item.title }}
            ul(ng-class="{ active: mc.active == item }")
              li(ng-repeat="m in item.items",ui-sref-active="active")
                a(ui-sref="{{m.path}}") {{m.title}}
      .main-content
        div(ui-view='')