html(ng-app="app")
    head
        link(href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700",rel="stylesheet",type="text/css")
        link(href="/assets/production.css",rel="stylesheet",type="text/css")
        script(src="/assets/production.js")
    body
        block content
