.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li.active
            a(ui-sref="report") Report

    .actions
        .row
            .col-md-10
            .col-md-2.text-right
                button.btn.btn-primary(ng-click="vm.download()") reload
.content
    table.table
        thead
            th Nome
            th Status
            th.text-right Azioni
        tbody
            tr(ng-repeat="item in vm.downloadList", ng-class="{ 'bg-success': !item.read , 'bg-warning': !item.dates.end } " )
                td
                    h4 {{ item.name }}
                    span {{ item.dates.start | date:'dd/MM/yyyy HH:mm' }}
                    div exported: {{ item.counters.exported }}

                td(ng-show="item.read") Scaricato
                td(ng-show="!item.read") Non scaricato
                td.text-right
                    .btn-group
                        a.btn.btn-danger(ng-show="item.read", ng-click="vm.delete(item)" ) Elimina
                        span.btn.btn-warning(ng-show="!item.dates.end") In elaborazione
                        a.btn.btn-success(ng-click="vm.downloadFile(item)", ng-show="item.dates.end") Scarica
