.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li.active
            a(ui-sref="report") Report
        li.active
            span EXPORT
.content
    .row.grid
        .col-md-12
            .item2
                h3 Questionari
                .data
                    .form-group
                        select.form-control( name="campaignExport", ng-model="vm.campaignExport" )
                            option(ng-repeat="option in vm.campaignList", value="{{option._id}}:{{option.form}}") {{option.title}}

                    .form-group
                        button.btn.btn-default(ng-click="vm.getUsersExport( 'campaign', vm.campaignExport )") Download
                        //button.btn.btn-primary( ng-click="vm.getExportFormCandidates( vm.campaignExport )", ng-show="vm.reportsPending==0 && vm.campaignExport" ) Export form candidates {{ vm.totalActived }}

