.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li.active
            a(ui-sref="report") Report
.content
    .row.grid
        div(ng-model="vm.userMonth",class="col-sm-10")
            .item
                h3 Utenti per mese
                span.total {{ vm.userMonth.total }}
                .stats-container(ng-repeat="anno in vm.userMonth.stats")
                    div.stats(ng-repeat="mese in anno.monthlyusage")
                        div.days(ng-repeat="day in mese.dailyusage | orderBy:'day' ",style="height:{{ day.percentage | num }}%")
                            span.perc {{ day.count }}
                            span.day {{ day.day }}
        .col-sm-2
            .item
                h3 Stats range
                    div.text-center
                        .form-group
                            label Month
                            select.form-control(ng-model="vm.month",ng-change="vm.changeStatsLimit()")
                                option(value="01") January
                                option(value="02") February
                                option(value="03") March
                                option(value="04") April
                                option(value="05") May
                                option(value="06") June
                                option(value="07") July
                                option(value="08") August
                                option(value="09") September
                                option(value="10") October
                                option(value="11") November
                                option(value="12") December
                        .form-group
                            label Year
                            select.form-control(ng-model="vm.year",ng-change="vm.changeStatsLimit()")
                                option(ng-repeat="date in vm.anni") {{ date }}
                        .form-group
                            button.btn.btn-primary(ng-click="vm.filterUsersReport(vm.month, vm.year)") Apply

        .col-md-8
            .item
                h3 Utenti totali, attivi e registrati non attivi
                    .badge {{ vm.data.getUsersCount[2].total + vm.data.getUsersCount[1].total }}
                .data
                    .gender(ng-class="Male")
                        label Male
                        .total {{ vm.data.getUsersCount[2].total }}
                    .gender(ng-class="Female")
                        label Female
                        .total {{ vm.data.getUsersCount[1].total }}

        .col-md-4
            .item
                h3 Totale utenti non attivi e incompleti
                .data
                    .gender(ng-class="Not_selected")
                        .total {{ vm.data.getUsersCount[0].total }}

        .col-md-12
            .item
                h3 Registrati Attivi
                .data
                    .gender(ng-repeat="item in vm.data.getActiveUsersCount",ng-class="item._id")
                        .total {{ item.total }}
        .col-md-12
            .item
                h3 Profilati
                .data
                    .gender(ng-repeat="item in vm.data.getProfileCompletedCount",ng-class="item._id",ng-show="item._id")
                        label {{ item._id }}
                        .total {{ item.total }}
        .col-md-12
            .item
                h3 Newsletters subscribed
                .data
                    .gender(ng-repeat="item in vm.data.getNewsletterUsersCount",ng-class="item._id")
                        label {{ item[0]._id}}
                        .total {{ item[0].count }}