.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="template") template
        li.active
            span Detail
            span.name {{vm.data.title}}
    .actions
        button.btn.btn-sm.btn-danger(ng-show="vm.data._id", ng-click="vm.delete(vm.data._id)") Delete
        button.btn.btn-sm.btn-primary(ng-click="vm.save()") Save
.content
    form
        .row
            .col-md-4
                .form-group
                    label identifier
                    input#field-identifier.form-control(placeholder="identifier",ng-model="vm.data.identifier",ng-disabled="vm.data._id")
            .col-md-4
                .form-group
                    label subject
                    input#field-subject.form-control(placeholder="subject",ng-model="vm.data.subject")
            .col-md-2
                .form-group
                    label type
                    select.form-control(ng-model="vm.data.type")
                        option(ng-repeat="type in vm.types", value="{{type }}") {{ type }}
            .col-md-2
                .form-group
                    label published
                    input.form-control(type="checkbox",placeholder="field.published",ng-model="vm.data.published")

        .form-group
            trumbowyg-ng(ng-model="vm.data.body", editor-config="{fullscreenable: false,btns: ['viewHTML','bold','italic','|','link','formatting','horizontalRule','insertImage']}")
