.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="template") Template
        li.active
            span LIST
    .actions
        .row
            .col-md-10
                input.form-control(type="search",placeholder="search")
            .col-md-2.text-right
                button.btn.btn-md.btn-primary(ui-sref="template.create") Create
.content
    table.table
        tr(ng-repeat="item in vm.data",ui-sref="template.detail({id: item._id })")
            td {{item.identifier}}
            td {{item.subject}}
            td {{item.type}}
            td.text-right
                span.glyphicon.glyphicon-menu-right