.closer(ng-click="close()")
    span.glyphicon.glyphicon-menu-left
input.form-control(type="search",placeholder="search",ng-model="mediaSearch")
.list
    .image(ng-repeat="item in data", ng-click="choose(item)", alt="{{item.name}}", title="{{item.name}}", style="background-image:url({{ item.image.medium.url }})")