.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="media") Media
        li
            a(ui-sref="media.list") List
        li.active
            span Detail
            span.name {{vm.data.name}}
    .actions
        button.btn.btn-sm.btn-danger(ng-show="vm.data._id") Delete
        button.btn.btn-sm.btn-primary(ng-click="vm.save()") Save
#media-upload.content
    h4 {{ vm.data.name }}
    form
        .row
            .col-md-2
                .img-thumbnail
                    img(ng-src="{{ vm.data.image.thumb.url }}")
            .col-md-4
                .form-group
                    div {{ vm.data.creationDate }}
                    div {{ vm.data.image.original.size | bytes }}
            .col-md-6
                .form-group
                    input#field-title.form-control(placeholder="name",ng-model="vm.data.name")
                .form-group
                    tags-input(ng-model="vm.data.tag")