.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="media") Media
        li.active
            span LIST
    .actions
        .row
            .col-sm-8
                input.form-control(type="search",placeholder="search",ng-model="vm.searchMedia")
            .col-sm-4.text-left
                button.btn.btn-md.btn-primary(ng-click="vm.searchMedia='';vm.load()") x
                button.btn.btn-md.btn-success(ui-sref="media.create") Upload
#media.content.list
    .row
        .col-xs-3(ng-repeat="item in vm.data")
            a.item(style="background-image:url({{ item.image.medium.url }})")
                .info
                    .name {{item.name}}
                    .date {{item.creationDate | date:'medium' }}
                    .size width {{ item.image.original.dims.w }}px
                    .size height {{ item.image.original.dims.h }}px
                    .format {{ item.image.original.format }}
                    .tags
                        span.label(ng-repeat="tag in item.tag",ng-click="vm.searchMedia = tag.name") {{ tag.name }}
                    .actions
                        button.btn.btn-primary.btn-xs(ui-sref="media.detail({id: item._id })") info
                        button.btn.btn-danger.btn-xs(ng-click="vm.delete(item)") delete

paging.paging(page="vm.page",page-size="vm.limit",total="vm.total", paging-action="vm.load(page)")
