.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="media") Media
        li
            a(ui-sref="media.list") List
        li.active
            span Upload
            span.name {{vm.data.name}}
    .actions
        button.btn.btn-sm.btn-primary(ng-click="vm.save()") Save
#media-upload.content
    form
        input.form-control(type="file",accept="image/*",file-model="image",multiple="multiple")
        .row.list(ng-repeat="file in image",ng-hide="file.info.removed")
            .col-md-1
                button.btn.btn-danger.btn-xs(ng-click="file.info.removed = true") x
            .col-md-2
                .img-thumbnail
                    div.preview(image-preview="file")
            .col-md-4
                .form-group
                    div {{ file.name }}
                    div {{ file.size | bytes }}
            .col-md-5
                .form-group(ng-init="file.info.name = file.name")
                    input#field-title.form-control(placeholder="name",ng-model="file.info.name")
                .form-group
                    tags-input(ng-model="file.info.tag")