button.btn.btn-xs.btn-primary(ng-click="add()") add image
.viewer
    .image(ng-repeat="item in ngModel", ng-click="remove(item)", style="background-image:url({{ item.path }})")
        button.btn.btn-danger.glyphicon.glyphicon-trash