.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="review.testerlist",ng-click="vm.queryString = null;vm.search()") Review Tester
        li.active
            span LIST
    .actions
        .row
            .col-md-4
                select.form-control( name="campaignList", ng-model="vm.campaign", ng-change="vm.search(vm.campaign, vm.status)" )
                    option(ng-repeat="option in vm.campaignList", value="{{option._id}}" ) {{ option.title }}
            .col-md-4
                select.form-control( name="status", ng-model="vm.status", ng-change="vm.search(vm.campaign, vm.status)" )
                    option(ng-repeat="option in vm.statusOptions", value="{{option}}" ) {{ option }}
            .col-md-4
                button.btn.btn-md.btn-primary(ng-click="vm.search()") Search
.content.list
    table.table
        thead
            tr
                th
                th questionari
                th email
                th date
                th published
                th pubblicabile
                th voto
                th text
                th

        tbody
            tr.no-cursor(ng-repeat="item in vm.data",ng-class="{'bg-success': item.status == 'published','bg-danger': item.status == 'rejected','bg-warning': item.status == 'unpublished'}")
                td.cursor(ui-sref="review.testerdetail({id: item._id })") # {{ ($index +1) + ( (vm.page-1)  * vm.limit ) }}
                td(ui-sref="review.testerdetail({id: item._id })") {{item.campaign.title}}
                td(ui-sref="user.testerdetail({id: item.user.profile })") {{item.user.email}}
                td {{item.dates.submitted | date:'dd/MM/yyyy HH:mm'}}
                td
                    select.form-control( name="status", ng-model="item.status", ng-change="vm.updatePublished(item._id, item.status)")
                        option(ng-repeat="option in vm.statusOptions", value="{{option}}") {{ option }}
                td.no-cursor(ng-class="{'bg-success': (item.pubcomment), 'bg-danger': (!item.pubcomment)}") {{ item.pubcomment == true ? "SI":"NO"}}
                td {{ item.voto ? item.voto : "/" }}
                td.cursor(ui-sref="review.testerdetail({id: item._id })") {{item.text}}
                td.text-right.cursor(ui-sref="review.testerdetail({id: item._id })")
                    span.glyphicon.glyphicon-menu-right
paging.paging(page="vm.page",page-size="vm.limit",total="vm.total", paging-action="vm.search(vm.campaign, vm.status, page)")