.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="review.testerlist") Review Tester
        li.active
            span Detail
    .actions
        button.btn.btn-sm.btn-danger(ng-show="vm.data._id && !vm.data.published",ng-click="vm.delete(vm.data._id)") Delete
        button.btn.btn-sm.btn-primary(ng-click="vm.save()") Save
.content
    form(ng-init="tab='info'")
        div(ng-show="tab=='info'")
            .row
                .col-md-5
                    .form-group
                        label Name
                        input#field-name.form-control(ng-disabled="true", placeholder="title",value="{{vm.data.user.profile.name.first}} {{vm.data.user.profile.name.last}}")
                .col-md-5
                    .form-group
                        label Email
                        input#field-email.form-control(ng-disabled="true", placeholder="title",ng-model="vm.data.user.email")
                .col-md-2
                    .form-group
                        label Published
                        select.form-control(name="status", ng-model="vm.data.status")
                            option(ng-repeat="option in vm.statusOptions", value="{{option}}") {{ option }}
            .row
                .col-md-6
                    .form-group
                        label Date
                        input#field-date.form-control(ng-disabled="true", placeholder="",ng-model="vm.data.dates.submitted")
                .col-md-6
                    .form-group
                        label Campaign
                        input#field-campaign.form-control(ng-disabled="true", placeholder="title",ng-model="vm.data.campaign.title")
            .row
                .col-md-12
                    .form-group
                        label Text
                        textarea.form-control(ng-disabled="true", ng-model="vm.data.text", rows=10)
            .row
                .col-md-3
                    .form-group
                        label Tester
                        input#tester.form-control(ng-disabled="true", ng-value="vm.data.tester == true ? 'SI' : 'NO'")
                .col-md-3
                    .form-group
                        label Pubblicabile
                        input#pubcomment.form-control(ng-disabled="true", ng-value="vm.data.pubcomment == true ? 'SI' : 'NO'")
                .col-md-3
                    .form-group
                        label Voto
                        input#voto.form-control(ng-disabled="true", ng-value="vm.data.voto ? vm.data.voto : '/'")