.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="category") Category
        li.active
            span Detail
            span.name {{vm.data.title}}
    .actions
        button.btn.btn-sm.btn-danger(ng-show="vm.data._id", ng-click="vm.delete(vm.data._id)") Delete
        button.btn.btn-sm.btn-primary(ng-click="vm.save()") Save
.content
    form
        .row
            .col-md-6
                .form-group
                    label Title
                    input#field-title.form-control(placeholder="title",ng-model="vm.data.title")
            .col-md-6
                .form-group
                    label description
                    input#field-description.form-control(placeholder="description",ng-model="vm.data.description")
            .col-md-6
                .form-group
                    label Class
                    input#field-category.form-control(placeholder="Class",ng-model="vm.data.class")
            .col-md-6
                .form-group
                    label Order
                    input#field-order.form-control(placeholder="Order",ng-model="vm.data.order")
            //.col-md-12
            //    .form-group
            //        viewer-images(multiple="false",ng-model="vm.data.media.images")