.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="category") Category
        li.active
            span LIST
    .actions
        .row
            .col-md-10
                input.form-control(type="search",placeholder="search",ng-model="vm.search")
            .col-md-2.text-right
                button.btn.btn-md.btn-primary(ui-sref="category.create") Create
.content
    table.table
        thead
            th Title
            th description
            th published
        tbody
            tr(ng-repeat="item in vm.data | filter:vm.search",ui-sref="category.detail({id: item._id })")
                td {{item.title}}
                td {{item.description}}
                td {{item.published}}
                td.text-right
                    span.glyphicon.glyphicon-menu-right