//
   Created by andreazucca on 08/01/16.

h4 Authentication
form.form-signin(action="#", method="post")
    .row
        .col-md-4
            .form-group
                input.form-control(type="email", name="email", ng-model="vm.user.email", placeholder="Email address",required="required")
            .form-group
                input.form-control(type="password", name="password", ng-model="vm.user.password", placeholder="Password",required="required")
            button#BtnLogin.btn.btn-sm.btn-primary(type="button",ng-click="vm.login()") Log in