.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="client") Client
        li.active
            span Detail
            span.name {{vm.data.name}}
    .actions
        button.btn.btn-sm.btn-danger(type="button",ng-show="vm.data._id", ng-click="vm.delete(vm.data._id)") Delete
        button.btn.btn-sm.btn-primary(type="button",ng-click="vm.save()") Save
.content
    form#client
        .row
            .col-md-6
                .form-group
                    label Name *
                    input#field-name.form-control(placeholder="name",ng-model="vm.data.name")
            .col-md-6
                .form-group
                    label Email *
                    input#field-email.form-control(placeholder="email",ng-model="vm.data.email")
        .row
            .col-md-6
                .form-group
                    label Referent
                    input#field-referent.form-control(placeholder="referent",ng-model="vm.data.referent")
            .col-md-6
                .form-group
                    label Phone - Office
                    input#field-phone-office.form-control(placeholder="phone - office",ng-model="vm.data.phone.office")
                .form-group
                    label Phone - Mobile
                    input#field-phone-mobile.form-control(placeholder="phone - mobile",ng-model="vm.data.phone.mobile")

