.header
    ol.breadcrumb
        li
            a(ui-sref="dashboard") Dashboard
        li
            a(ui-sref="client") Client
        li.active
            span LIST
    .actions
        .row
            .col-md-10
                input.form-control(type="search",placeholder="search",ng-model="vm.search")
            .col-md-2.text-right
                button.btn.btn-md.btn-primary(ui-sref="client.create") Create
.content
    table.table
        thead
            th Name
            th Referent
            th Email
            th Office phone
            th Mobile phone
        tbody
            tr(ng-repeat="item in vm.data | filter: vm.search",ui-sref="client.detail({id: item._id })")
                td {{item.name}}
                td {{item.referent}}
                td {{item.email}}
                td {{item.phone.office}}
                td {{item.phone.mobile}}
                td.text-right
                    span.glyphicon.glyphicon-menu-right